@use "../core/_vars.scss" as *;

@each $key, $li in $nb-li-no-search{
    #{$li}{
        #{nb(dropdown)}{
            width: 250px;
            margin: 0 auto;
            border-radius: 20px;
        }
        #{nb(dropdown-item)}{
            background: transparent !important;
            display: flex;
            align-items: center;
            gap: 20px;

            &:hover, &:focus, &:active{
                background: transparent !important;
            }
        }
    }
}