@use "../core/_vars.scss" as *;

#{$Navbar-Home} {

  #{$nbhome-container} {

    #{$nbhome-menu} {

      #{$nbhome-list} {

        #{$nbhome-item} {

          /* ================= DROPDOWN ================= */
          #{$nbhome-dropdown} {
            flex-direction: column;
            gap: 0.25rem;

            width: 85%;
            margin-top: 0.25rem;
            margin: 0.75rem auto;
            padding-left: 1.75rem;
            max-width: 320px;
            border-radius: 13px;

            /* ---------- LINKS ---------- */
            #{$nbhome-dropdown-link} {
              width: 100%;
              display: flex;
              align-items: center;
              gap: 0.75rem;

              min-height: 40px;
              padding: 0.5rem 0.75rem;

              text-align: left;

              border-radius: 8px;
              cursor: pointer;
              font-size: 0.9rem;
            }
          }

        }
      }
    }
  }
}