@use "../core/_vars.scss" as *;

#{$Navbar-Home}{
    #{$nbhome-dropdown-header}{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin-bottom: 1rem;
        margin-top: 1rem;
    }

    #{$nbhome-dropdown-header-circle}{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 56px;
        height: 56px;
        border-radius: 50%;
        cursor: pointer;
    }
}