@use "../core/_vars.scss" as *;

#{$Navbar-Home} {
  #{$nbhome-container} {

    #{$nbhome-hamburger} {
      width: 48px;
      height: 32px;
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      cursor: pointer;
      background: transparent;
      border: none;
      padding: 0;

      #{$nbhome-hamburger-line} {
        width: 100%;
        height: 3px;
        border-radius: 2px;
        transition: transform 0.35s ease, opacity 0.25s ease;
      }

      /* 🔥 QUANDO O BOTÃO ESTIVER ABERTO */
      &.is-open {

        #{$nbhome-hamburger-line}:nth-child(1) {
          transform: translateY(14px) rotate(45deg);
        }

        #{$nbhome-hamburger-line}:nth-child(2) {
          opacity: 0;
        }

        #{$nbhome-hamburger-line}:nth-child(3) {
          transform: translateY(-14px) rotate(-45deg);
        }

      }
    }

  }
}