@use "../core/_vars.scss" as *;
@use "../core/colors" as *;

/* Icons Menu */
@each $_, $btn in $iconsMenu{
    #{$btn}{
        #{nb(iconMenu)}{
            width: 20px;
            height: 20px;
            transition: all 0.3s ease;
        }
    }
}

/* Icon Button Search */
#{L-indicador(l-search)}{
    #{search(btn-search)}{
        svg{
            width: 20px;
            height: 20px;
        }
    }
}

/* Icones Dropdowns - Links */
@each $key, $li in $nb-li-no-search{
    #{$li}{
        #{nb(dropdown-item)}{
            svg{
                width: 18px;
                height: 18px;
            }
        }
    }
}