@use "../core/_vars.scss" as *;
@use "../core/colors" as *;

/* Icons Menu */
@each $_, $btn in $iconsMenu{
    #{$btn}{
        #{nb(iconMenu)}{
            width: 20px;
            height: 20px;
            transition: all 0.3s ease;
        }
    }
}