@use "../core/_vars.scss" as *;


#{nb(dropdown-icon-topo)},
#{nb(dropdown-icon-search)} {
  position: absolute;
  top: 12px;
  left: 50%;
  transform: translateX(-50%);

  width: 40px;
  height: 40px;

  display: none; // 🔥 JS liga/desliga
  align-items: center;
  justify-content: center;

  opacity: 1; // 🔥 nunca controlar visibilidade aqui
  pointer-events: auto;

  z-index: 10;
  cursor: pointer;

  svg {
    width: 18px;
    height: 18px;
  }
}

/* =====================================================
   APENAS >= 576px (DESKTOP / TABLET)
===================================================== */
@media (min-width: 576px) {
  #{nb(dropdown-icon-topo)},
  #{nb(dropdown-icon-search)} {
    top: 12px;
  }
}

/* =====================================================
   ESCONDE ÍCONE ORIGINAL DO BOTÃO
===================================================== */
#{nb(link)}.is-active {
  opacity: 0;
  pointer-events: none;
}

/* =====================================================
   FEEDBACK DE CLIQUE
===================================================== */
#{nb(dropdown-icon-topo)}:active,
#{nb(dropdown-icon-search)}:active {
  transform: translateX(-50%) scale(0.94);
}