@use "../core/_vars.scss" as *;

#{nb(dropdown-icon-topo)},
#{nb(dropdown-icon-search)} {
  border-radius: 50%;

  width: 40px;
  height: 40px;

  display: flex;
  align-items: center;
  justify-content: center;

  opacity: 1; // 🔥 nunca controlar visibilidade aqui
  pointer-events: auto;


  z-index: 10;
  cursor: pointer;

  svg {
    width: 18px;
    height: 18px;
  }
}