@use "../core/_vars.scss" as *;
@use "../core/_tokens.scss" as *;

#{$Navbar-Home} {

  /* ================= ITEM ================= */

  #{$nbhome-item} {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  /* ================= LINK ================= */

  #{$nbhome-link} {
    display: flex;
    align-items: center;
    gap: $nbhome-spacing-gap;

    width: 100%;
    min-height: $nbhome-link-height;
    padding: $nbhome-spacing-left;

    cursor: pointer;
    user-select: none;
  }

  /* ================= TEXTO ================= */

  #{$nbhome-text} {
    font-size: 0.95rem;
    line-height: 1;
    white-space: nowrap;
  }

}