@use "../core/_vars.scss" as *;
@use "../core/_tokens.scss" as *;

#{$Navbar-Home}{
  #{$nbhome-search}{
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5rem;

    #{$nbhome-search-toggle}{
      display: flex;
      align-items: center;
      justify-content: flex-start;

      gap: $nbhome-spacing-gap;
      padding: $nbhome-spacing-left;
    }

    #{$nbhome-search-box}{
      display: none;
      margin: 0 auto;
      gap: 0.5rem;
    }

    #{$nbhome-search-input}{
      flex: 1;
      min-height: 30px;
    }
  }
}