@use "../core/_vars.scss" as *;
@use "../core/_tokens.scss" as *;

#{$Navbar-Home}{
  #{$nbhome-search}{
    position: relative;
    width: $nbhome-search-width;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: $nbhome-spacing-gap;

    #{$nbhome-search-toggle}{
      display: flex;
      align-items: center;
      justify-content: flex-start;

      gap: $nbhome-spacing-gap;
      padding: $nbhome-spacing-left;
    }

    #{$nbhome-search-box}{
      display: none;
      margin: 0 auto;
      gap: $nbhome-spacing-gap;
    }

    #{$nbhome-search-input}{
      flex: 1;
      min-height: $nbhome-search-height;
    }
  }
}