$fthome-color-primary-bg: #00111a;
$fthome-color-secondary-bg: #000;
$fthome-color-text: #fff;

$fthome-color-text-primary: #fff;
$fthome-color-text-secondary: #000;

$fthome-color-divider: #666565;

$social-colors-footer : (
    facebook: #1877f2,
    instagram: #e1306c,
    google: #ea4335
);