$fthome-color-primary-bg: #00111a;
$fthome-color-secondary-bg: #000;
$fthome-color-text: #fff;

$fthome-color-text-primary: #fff;
$fthome-color-text-secondary: #000;

$fthome-color-divider: #666565;

$fthome-color-copy-primary: #6ec6ff;
$fthome-color-copy-secondary: #4fc3f7;
$fthome-color-copy-accent: #ffd54f;

$fthome-color-bg-copy-brand: linear-gradient(
    90deg,
    #4facfe,
    #00f2fe,
    #43e97b
);

$social-colors-footer : (
    facebook: #1877f2,
    instagram: #e1306c,
    google: #ea4335
);