@use "./_vars.scss" as *;

#{$Footer-Home}{
    #{$fthome-container}{
        #{$fthome-brand} p{
            font-style: italic;
        }

        #{$fthome-links}{
            ul{
                li{
                    a{
                        text-decoration: none;
                    }
                }
            }
        }
    }
    #{$fthome-divider}{
        border-radius: 30px;
    }
    #{$fthome-copy}{
       small{
            span{
                font-style: oblique;
                font-weight: 600;
                font-size: 15px;
            }
       }
    }
}
