@use "./_vars.scss" as *;

#{$Footer-Home}{
    #{$fthome-container}{
        #{$fthome-socials}{
            #{$fthome-sociais} svg{
                width: 23px;
                height: 23px;
                transition: all 0.3 ease;
            }
        }
    }
}