$Footer-Home: "#footer-home";

$fthome-container: ".footer-container";
$fthome-brand: ".footer-brand";
$fthome-links: ".footer-links";
$fthome-socials: ".footer-socials";
$fthome-sociais: ".socials";
$fthome-copy: ".footer-copy";