@use "../../core/foundation/_vars.scss" as *;
@use "../../core/foundation/_tokens.scss" as *;
@use "../../core/utilities/_placeholders.scss" as *;

#{$Navbar-Home} {

  /* ================= DROPDOWN BASE ================= */

  #{$nbhome-dropdown} {
    @extend %nbhome-scroll-y;
    display: none;
    flex-direction: column;
    width: 100%;
    max-width: min(92vw, $nbhome-dropdown-width);
    max-height: 65vh;
    gap: 0.25rem;
    margin: 0.75rem auto;
    border-radius: 23px;
  }
  /* ================= LINKS DO DROPDOWN ================= */

  #{$nbhome-dropdown-link} {
    @extend %nbhome-flex-center;
    width: 100%;
    gap: 0.75rem;
    min-height: 40px;
    padding: 0.5rem 0.75rem 0.5rem 1.75rem;
    text-align: left;
    cursor: pointer;
  }

}