@use "../../core/foundation/_vars.scss" as *;
@use "../../core/utilities/_placeholders.scss" as *;

#{$Navbar-Home}{
    #{$nbhome-dropdown-header}{
        @extend %nbhome-flex-center-full;
        width: 100%;
        margin-bottom: 1rem;
        margin-top: 1rem;
    }

    #{$nbhome-dropdown-header-circle}{
        @extend %nbhome-flex-center-full;
        width: 56px;
        height: 56px;
        border-radius: 50%;
        cursor: pointer;
    }
}