@use "../../core/foundation/_vars.scss" as *;
@use "../../core/utilities/_placeholders.scss" as *;

#{$Navbar-Home}{
    #{$nbhome-hamburger}{
      @extend %nbhome-flex-column-center;
      gap: 5px;

      width: 40px;
      height: 40px;
      background: transparent;
      border: none;
      padding: 0;

      #{$nbhome-hamburger-line}{
        width: 24px;
        height: 2px;

        background: #fff;
        display: block;

      }
    }
}