@use "./_vars.scss" as *;
@use "./_colors.scss" as *;

/* Container */
#{$Section-Lj}{
    background: $s-color-loja-sef-primary;
}

/* Elemento */
#{$lj-top-icon}{
    color: $s-color-loja-sef-icon-top;
}
#{$lj-curve}{
    background: $s-color-loja-sef-curve;
}

#{$lj-title}{
    color: $s-color-loja-sef-title;
}

#{$lj-descri}{
    color: $s-color-loja-sef-descri;
}

#{$lj-btn}{
    background: $s-color-loja-sef-btn;
    color: $s-color-loja-sef-btn-txt;
}