$crd-cor-bg: #ffffff;
$crd-cor-alt: #f6f7fb;

$crd-cor-title: #2a2a2a;
$crd-cor-descri: #4b4b4b;
$crd-cor-icon: #2d7cff;

$crd-cor-curve: #4da3ff;

$crd-cor-btn-bg: #2d7cff;
$crd-cor-btn-txt: #ffffff;

$crd-cor-brd: #0000001f;
$crd-cor-sha:  #0000001f;