$s-color-loja-sef-primary: #00111a;
$crd-cor-alt: #f6f7fb;

$s-color-loja-sef-title: #E5E7EB;
$s-color-loja-sef-descri: #9CA3AF;

$s-color-loja-sef-curve: #38BDF8;

$s-color-loja-sef-btn: #2d7cff;
$s-color-loja-sef-btn-txt: #ffffff;

$s-color-loja-sef-brd: #0000001f;
$s-color-loja-sef-sha:  #0000001f;