$s-color-loja-sef-primary: #ffffff;
$crd-cor-alt: #f6f7fb;

$s-color-loja-sef-title: #2a2a2a;
$s-color-loja-sef-descri: #4b4b4b;

$s-color-loja-sef-icon-top: #2d7cff;
$s-color-loja-sef-curve: #4da3ff;

$s-color-loja-sef-btn: #2d7cff;
$s-color-loja-sef-btn-txt: #ffffff;

$s-color-loja-sef-brd: #0000001f;
$s-color-loja-sef-sha:  #0000001f;