/* Container */
$Section-Lj: ".container-loja-card";

/* Elemento de Animação */
$lj-top: ".card-top-area";
$lj-top-icon: ".card-top-icon";
$lj-img-icon: ".loja-img-icon";
$lj-curve: ".card-curve";

$lj-body: ".card-bd";
$lj-title: ".loja-title";
$lj-descri: ".loja-descricao";
$lj-btn: ".btn-loja";