/* [project]/components/carrossel/CarrosselHome.scss.css [app-client] (css) */
@media (max-width: 575px) {
  .CarrosselHome {
    padding-left: 1rem !important;
    padding-right: 1rem !important;
  }

  #IMGFUNDO {
    width: 90%;
    margin: 0 auto;
  }

  .carousel-caption .icone-slide {
    stroke-width: 1.7px;
    width: 40px !important;
    height: 40px !important;
  }

  .carousel-caption .botao-saiba-mais {
    margin-top: .5rem;
    padding: 8px 22px;
    font-size: 1rem;
    font-weight: 600;
    transition: all .25s;
    padding: .5rem 1.5rem !important;
  }

  .CarrosselHome #IMGFUNDO {
    filter: brightness(.25);
    border-radius: 15px;
  }

  .CarrosselHome .carousel-inner .tema-climatizacao .icone-slide {
    --glow-color: #3a89ff;
    animation: 3s ease-in-out infinite float, 2.4s ease-in-out infinite glow;
    stroke: #3a89ff !important;
  }

  @keyframes float {
    0%, 100% {
      transform: translateY(0);
    }

    50% {
      transform: translateY(-6px);
    }
  }

  @keyframes glow {
    0%, 100% {
      filter: drop-shadow(0 0 4px var(--glow-color));
    }

    50% {
      filter: drop-shadow(0 0 12px var(--glow-color));
    }
  }

  .CarrosselHome .carousel-inner .tema-climatizacao .Title {
    color: #3a89ff;
    text-shadow: 0 0 10px #3a89ff;
  }

  .CarrosselHome .carousel-inner .tema-climatizacao .Descricao {
    color: #f0f0f0;
    opacity: .85;
    text-shadow: 0 0 6px #ffffffe6;
    width: 80%;
    margin: 8px auto 0;
    font-size: 1rem;
    line-height: 1.4;
  }

  .CarrosselHome .carousel-inner .tema-climatizacao .botao-saiba-mais {
    --bg: #217aff26;
    --bord: #217aff;
    --bx-shadow: #217aff;
    --hv-bg: #217aff40;
    --hv-bx-shadow: #217aff;
    background: var(--bg);
    border: 1px solid var(--bord);
    box-shadow: 0 0 8px var(--bx-shadow);
    color: #fff;
  }

  .CarrosselHome .carousel-inner .tema-climatizacao .botao-saiba-mais:hover {
    background: var(--hv-bg);
    box-shadow: 0 0 14px var(--hv-bx-shadow);
  }

  .CarrosselHome .carousel-inner .tema-eletrica .icone-slide {
    --glow-color: #ffe603;
    animation: 3s ease-in-out infinite float, 2.4s ease-in-out infinite glow;
    stroke: #ffe603 !important;
  }

  .CarrosselHome .carousel-inner .tema-eletrica .Title {
    color: #ffe603;
    text-shadow: 0 0 10px #ffe603;
  }

  .CarrosselHome .carousel-inner .tema-eletrica .Descricao {
    color: #f0f0f0;
    opacity: .85;
    text-shadow: 0 0 6px #ffffffe6;
    width: 80%;
    margin: 8px auto 0;
    font-size: 1rem;
    line-height: 1.4;
  }

  .CarrosselHome .carousel-inner .tema-eletrica .botao-saiba-mais {
    --bg: #ffe6032e;
    --bord: #ffe603;
    --bx-shadow: #ffe603;
    --hv-bg: #ffe60347;
    --hv-bx-shadow: #ffe603;
    background: var(--bg);
    border: 1px solid var(--bord);
    box-shadow: 0 0 8px var(--bx-shadow);
    color: #fff;
  }

  .CarrosselHome .carousel-inner .tema-eletrica .botao-saiba-mais:hover {
    background: var(--hv-bg);
    box-shadow: 0 0 14px var(--hv-bx-shadow);
  }

  .CarrosselHome .carousel-inner .tema-eletronica .icone-slide {
    stroke: #08a115;
    --glow-color: #08a115;
    animation: 3s ease-in-out infinite float, 2.4s ease-in-out infinite glow;
  }

  .CarrosselHome .carousel-inner .tema-eletronica .Title {
    color: #08a115;
    text-shadow: 0 0 10px #08a115;
  }

  .CarrosselHome .carousel-inner .tema-eletronica .Descricao {
    color: #f0f0f0;
    opacity: .85;
    text-shadow: 0 0 6px #ffffffe6;
    width: 80%;
    margin: 8px auto 0;
    font-size: 1rem;
    line-height: 1.4;
  }

  .CarrosselHome .carousel-inner .tema-eletronica .botao-saiba-mais {
    --bg: #08a1152e;
    --bord: #08a115;
    --bx-shadow: #08a115;
    --hv-bg: #08a11547;
    --hv-bx-shadow: #08a115;
    background: var(--bg);
    border: 1px solid var(--bord);
    box-shadow: 0 0 8px var(--bx-shadow);
    color: #fff;
  }

  .CarrosselHome .carousel-inner .tema-eletronica .botao-saiba-mais:hover {
    background: var(--hv-bg);
    box-shadow: 0 0 14px var(--hv-bx-shadow);
  }

  .CarrosselHome .carousel-inner .tema-refrigeracao .icone-slide {
    stroke: #04e2ff;
    --glow-color: #04e2ff;
    animation: 3s ease-in-out infinite float, 2.4s ease-in-out infinite glow;
  }

  .CarrosselHome .carousel-inner .tema-refrigeracao .Title {
    color: #04e2ff;
    text-shadow: 0 0 10px #04e2ff;
  }

  .CarrosselHome .carousel-inner .tema-refrigeracao .Descricao {
    color: #f0f0f0;
    opacity: .85;
    text-shadow: 0 0 6px #ffffffe6;
    width: 80%;
    margin: 8px auto 0;
    font-size: 1rem;
    line-height: 1.4;
  }

  .CarrosselHome .carousel-inner .tema-refrigeracao .botao-saiba-mais {
    --bg: #04e2ff33;
    --bord: #04e2ff;
    --bx-shadow: #04e2ff;
    --hv-bg: #04e2ff4d;
    --hv-bx-shadow: #04e2ff;
    background: var(--bg);
    border: 1px solid var(--bord);
    box-shadow: 0 0 8px var(--bx-shadow);
    color: #fff;
  }

  .CarrosselHome .carousel-inner .tema-refrigeracao .botao-saiba-mais:hover {
    background: var(--hv-bg);
    box-shadow: 0 0 14px var(--hv-bx-shadow);
  }
}

/*# sourceMappingURL=components_carrossel_CarrosselHome_scss_css_bad6b30c._.single.css.map*/