/* [project]/styles/navbar/navbar-Home.scss.css [app-client] (css) */
#nbHome {
  -webkit-backdrop-filter: blur(14px);
  border-bottom: 1px solid #ffffff14;
  margin-bottom: 30px;
  transition: all .35s;
  box-shadow: 0 4px 20px #00000073;
  background: #0000008c !important;
}

#nbHome .scrolled {
  box-shadow: 0 6px 30px #0000008c;
  background: #000000bf !important;
}

@media (max-width: 768px) {
  #navbarHome #SearchBtn, #navbarHome #Services, #navbarHome #Qmsm, #navbarHome #Ajsu, #navbarHome #PortCert {
    margin-left: 20px !important;
  }
}

@media (min-width: 576px) {
  #navbarHome #SearchBtn, #navbarHome #Services, #navbarHome #Qmsm, #navbarHome #Ajsu, #navbarHome #PortCert {
    margin-left: 0 !important;
  }
}

#navbarHome #SearchBtn {
  -webkit-text-fill-color: #0000;
  text-shadow: 0 0 12px #56adff;
  background: #56adff;
  -webkit-background-clip: text;
  background-clip: text;
  transition: all .4s, transform .4s;
}

#navbarHome #SearchBtn:hover {
  text-shadow: 0 0 20px #0cbaff;
  transform: translateX(2px);
}

#navbarHome #Services {
  -webkit-text-fill-color: #0000;
  text-shadow: 0 0 12px #56adff;
  background: #56adff;
  -webkit-background-clip: text;
  background-clip: text;
  transition: all .4s, transform .4s;
}

#navbarHome #Services:hover {
  text-shadow: 0 0 20px #0cbaff;
  transform: translateX(2px);
}

#navbarHome #Qmsm {
  -webkit-text-fill-color: #0000;
  text-shadow: 0 0 12px #56adff;
  background: #56adff;
  -webkit-background-clip: text;
  background-clip: text;
  transition: all .4s, transform .4s;
}

#navbarHome #Qmsm:hover {
  text-shadow: 0 0 20px #0cbaff;
  transform: translateX(2px);
}

#navbarHome #Ajsu {
  -webkit-text-fill-color: #0000;
  text-shadow: 0 0 12px #56adff;
  background: #56adff;
  -webkit-background-clip: text;
  background-clip: text;
  transition: all .4s, transform .4s;
}

#navbarHome #Ajsu:hover {
  text-shadow: 0 0 20px #0cbaff;
  transform: translateX(2px);
}

#navbarHome #PortCert {
  -webkit-text-fill-color: #0000;
  text-shadow: 0 0 12px #56adff;
  background: #56adff;
  -webkit-background-clip: text;
  background-clip: text;
  transition: all .4s, transform .4s;
}

#navbarHome #PortCert:hover {
  text-shadow: 0 0 20px #0cbaff;
  transform: translateX(2px);
}

.search-dropdown {
  border-radius: 13px !important;
  min-width: 220px !important;
  padding: 8px 0 !important;
}

.search-input {
  color: #fff !important;
  background: #ffffff1f !important;
  border: 1px solid #fff3 !important;
  border-radius: 8px !important;
  padding: 8px 10px !important;
}

.search-input::placeholder {
  letter-spacing: .5px;
  color: #ffffffb3 !important;
  text-transform: uppercase !important;
  opacity: 1 !important;
}

.search-input::-webkit-input-placeholder {
  letter-spacing: .5px;
  color: #ffffffb3 !important;
  text-transform: uppercase !important;
  opacity: 1 !important;
}

.search-input::-moz-placeholder {
  letter-spacing: .5px;
  color: #ffffffb3 !important;
  text-transform: uppercase !important;
  opacity: 1 !important;
}

.search-input:-ms-placeholder-shown {
  letter-spacing: .5px;
  color: #ffffffb3 !important;
  text-transform: uppercase !important;
  opacity: 1 !important;
}

.search-input::-moz-placeholder {
  letter-spacing: .5px;
  color: #ffffffb3 !important;
  text-transform: uppercase !important;
  opacity: 1 !important;
}

.search-input:focus {
  outline: none !important;
  box-shadow: 0 0 0 2px #0af6 !important;
}

.logoNavbar {
  width: 70px;
  transition: all .4s;
  height: 65px !important;
  margin-left: 20px !important;
}

.logoNavbar:hover {
  transform: scale(1.03);
}

.navbar-toggler-icon {
  background-image: none !important;
}

.navbar-toggler {
  background-size: 24px 24px;
  background: url("../media/menu.f12838d8.svg") center / 50% no-repeat !important;
  border: .2px solid #ffffff7a !important;
}

.navbar-toggler:focus {
  border-color: #fff9 !important;
  box-shadow: 0 0 0 .25rem #fff9 !important;
}

@keyframes fadeMenu {
  from {
    opacity: 0;
    transform: translateY(6px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.dropdown-menu {
  -webkit-backdrop-filter: blur(12px);
  animation: .25s forwards fadeMenu;
  box-shadow: 0 8px 24px #0000008c, 0 0 18px #0080ff33;
  background: #000000bf !important;
  border: 1px solid #797979 !important;
  border-radius: 12px !important;
  padding: 6px 0 !important;
}

@media (max-width: 768px) {
  .dropdown-menu {
    min-width: 160px;
    border-left: 3px solid #fff !important;
    width: 85vw !important;
    max-width: 200px !important;
    margin-left: 50% !important;
    padding: 6px !important;
    transform: translateX(-50%) !important;
  }

  .dropdown-menu .dropdown-item {
    font-size: .88rem;
    padding: 6px 10px !important;
  }

  .dropdown-menu .dropdown-item i {
    font-size: .9rem;
  }
}

.dropdown-item {
  transition: background .25s, transform .25s;
  color: #fff !important;
  border-radius: 8px !important;
  padding: 10px 16px !important;
}

.dropdown-item:hover {
  transform: translateX(4px);
  background: #ffffff1a !important;
}

/* [project]/styles/footer/footer-Home.scss.css [app-client] (css) */
.bg-rodape {
  color: #fff;
  background: radial-gradient(circle at top, #00111a, #000);
}

#logoFt {
  width: 17%;
  max-width: 20%;
  transition: all .4s;
}

#logoFt:hover {
  transform: scale(1.03);
}

.footer-link {
  color: #ccc;
  text-decoration: none;
  transition: color .3s;
}

.footer-link:hover {
  color: #00d4ff;
  transform: scale(1.01);
}

.social-icons-rdp {
  justify-content: center;
  gap: 18px;
  display: flex;
}

.social-icons-rdp .social-icon {
  color: #ccc;
  font-size: 1.1rem;
  transition: all .4s;
}

.social-icons-rdp .social-icon-face:hover {
  color: #1877f2;
  text-shadow: 0 0 10px #1877f2;
}

.social-icons-rdp .social-icon-insta:hover {
  -webkit-text-fill-color: #0000;
  text-shadow: 0 0 12px #d6249f99;
  background: radial-gradient(circle at 30% 107%, #fdf497 0% 5%, #fd5949 45%, #d6249f 60%, #285aeb 90%);
  -webkit-background-clip: text;
  background-clip: text;
}

.social-icons-rdp .social-icon-google:hover {
  color: #db4437;
  text-shadow: #db4437b3;
}

.social-icons-rdp .social-icon-insta {
  transition: transform .5s, scale .4s, color .5s, background .5s;
}

.social-icons-rdp .social-icon-insta:hover {
  transform: scale(1.05);
}

.social-icons-rdp .social-icon-face {
  transition: transform .5s, scale .4s, color .5s, background .5s;
}

.social-icons-rdp .social-icon-face:hover {
  transform: scale(1.05);
}

.social-icons-rdp .social-icon-google {
  transition: transform .5s, scale .4s, color .5s, background .5s;
}

.social-icons-rdp .social-icon-google:hover {
  transform: scale(1.05);
}

.bg-rodape .titulo-redes, .bg-rodape .titulo-links {
  margin-bottom: 15px;
  font-size: 1.3rem;
  font-weight: 600;
}

.text-gradiente {
  -webkit-text-fill-color: #0000;
  background: linear-gradient(90deg, #00d4ff, #007bff);
  -webkit-background-clip: text;
  background-clip: text;
}

/* [project]/styles/conf-backgrounds-Light-Dark.scss.css [app-client] (css) */
.animated-bg-canvas.light, .animated-bg-canvas.dark {
  z-index: -1;
  pointer-events: none;
  image-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -mox-osx-font-smoothing: grayscale;
  width: 100%;
  height: 100%;
  display: block;
  position: fixed;
  inset: 0;
}

/* [project]/styles/theme-btn-toggle.module.scss.module.css [app-client] (css) */
.theme-btn-toggle-module-scss-module__aflT2G__toggle {
  color: #222;
  cursor: pointer;
  background: linear-gradient(135deg, #0078ff 0%, #00c6ff 100%);
  border: none;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  padding: .8rem 1.1rem;
  font-size: .9rem;
  transition: all .5s;
  position: fixed;
  top: 150px;
  right: 0;
  box-shadow: 0 0 10px #00c8ff66;
  z-index: 999 !important;
}

.theme-btn-toggle-module-scss-module__aflT2G__toggle:hover {
  transform: translateX(-2px);
}

/*# sourceMappingURL=styles_acc2a091._.css.map*/