/* [project]/styles/carrossel/home/CarrosselHome.scss.css [app-client] (css) */
.CarrosselHome {
  width: 100%;
  padding: 1rem 0;
  position: relative;
}

.CarrosselHome .carousel-inner {
  border-radius: 18px;
  position: relative;
  overflow: hidden;
}

#IMGFUNDO {
  object-fit: cover;
  filter: brightness(.2);
  width: 100%;
  height: 320px;
}

.CarrosselHome .carousel-caption {
  z-index: 3;
  text-align: center;
  padding: 0 1rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.CarrosselHome .icone-slide {
  width: 35px;
  height: 35px;
  color: var(--tema-cor);
  margin-bottom: 12px;
}

.CarrosselHome .Title {
  color: #fff;
  margin-bottom: 10px;
  font-size: 2.2rem;
  font-weight: 700;
}

.CarrosselHome .Descricao {
  color: #eaeaea;
  opacity: .95;
  width: 80%;
  margin: .25rem auto 1rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.45;
}

.CarrosselHome .botao-saiba-mais {
  color: #fff;
  cursor: pointer;
  border: none;
  border-radius: 12px;
  padding: 10px 28px;
  font-size: 1.05rem;
  font-weight: 600;
  transition: all .25s;
}

.CarrosselHome .carousel-indicators [data-bs-target] {
  cursor: pointer;
  background-color: #fff6;
  border: none;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  transition: all .25s;
}

.CarrosselHome .carousel-indicators .active {
  background-color: #fff;
  width: 12px;
  height: 12px;
  box-shadow: 0 0 8px #fff;
}

.CarrosselHome .carousel-control-prev .carousel-control-next {
  width: 50px;
  transition: opacity .3s;
  background: none !important;
}

.CarrosselHome .carousel-control-prev .carousel-control-next:focus {
  box-shadow: none !important;
}

#carouselHome[data-tema="climatizacao"] .icon-prev, #carouselHome[data-tema="climatizacao"] .icon-next {
  stroke: #3a89ff;
  filter: drop-shadow(0 0 4px #3a89ff) drop-shadow(0 0 8px #3a89ffe6) drop-shadow(0 0 12px #3a89ffd9) drop-shadow(0 0 4px #3a89ffcc);
}

#carouselHome[data-tema="eletrica"] .icon-prev, #carouselHome[data-tema="eletrica"] .icon-next {
  stroke: #ffe603;
  filter: drop-shadow(0 0 4px #ffe603) drop-shadow(0 0 8px #ffe603e6) drop-shadow(0 0 12px #ffe603d9) drop-shadow(0 0 4px #ffe603cc);
}

#carouselHome[data-tema="eletronica"] .icon-prev, #carouselHome[data-tema="eletronica"] .icon-next {
  stroke: #08a115;
  filter: drop-shadow(0 0 4px #08a115) drop-shadow(0 0 8px #08a115e6) drop-shadow(0 0 12px #08a115d9) drop-shadow(0 0 4px #08a115cc);
}

#carouselHome[data-tema="refrigeracao"] .icon-prev, #carouselHome[data-tema="refrigeracao"] .icon-next {
  stroke: #04e2ff;
  filter: drop-shadow(0 0 4px #04e2ff) drop-shadow(0 0 8px #04e2ffe6) drop-shadow(0 0 12px #04e2ffd9) drop-shadow(0 0 4px #04e2ffcc);
}

#carouselHome[data-tema="climatizacao"] .icone-slide {
  color: #3a89ff;
  filter: drop-shadow(0 0 6px #3a89ff) drop-shadow(0 0 10px #3a89ff);
  animation: 3.2s ease-in-out infinite float, 2.8s ease-in-out infinite glow-pulse;
}

@keyframes float {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-8px);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes glow-pulse {
  0% {
    filter: drop-shadow(0 0 4px);
    opacity: .8;
  }

  50% {
    filter: drop-shadow(0 0 12px);
    opacity: 1;
  }

  100% {
    filter: drop-shadow(0 0 4px);
    opacity: .8;
  }
}

#carouselHome[data-tema="eletrica"] .icone-slide {
  color: #ffe603;
  filter: drop-shadow(0 0 6px #ffe603) drop-shadow(0 0 10px #ffe603);
  animation: 3.2s ease-in-out infinite float, 2.8s ease-in-out infinite glow-pulse;
}

#carouselHome[data-tema="eletronica"] .icone-slide {
  color: #08a115;
  filter: drop-shadow(0 0 6px #08a115) drop-shadow(0 0 10px #08a115);
  animation: 3.2s ease-in-out infinite float, 2.8s ease-in-out infinite glow-pulse;
}

#carouselHome[data-tema="refrigeracao"] .icone-slide {
  color: #04e2ff;
  filter: drop-shadow(0 0 6px #04e2ff) drop-shadow(0 0 10px #04e2ff);
  animation: 3.2s ease-in-out infinite float, 2.8s ease-in-out infinite glow-pulse;
}

#carouselHome[data-tema="climatizacao"] .Title {
  color: #3a89ff;
  text-shadow: 0 0 6px #3a89ff8c 0 0 12px #3a89ff59 0 0 18px #3a89ff40;
  animation: 2.6s ease-in-out infinite textPulse;
}

@keyframes textPulse {
  0% {
    text-shadow: 0 0 4px, 0 0 10px, 0 0 14px #fff3;
  }

  50% {
    text-shadow: 0 0 10px, 0 0 16px, 0 0 22px #ffffff59;
  }

  100% {
    text-shadow: 0 0 4px, 0 0 10px, 0 0 14px #fff3;
  }
}

#carouselHome[data-tema="eletrica"] .Title {
  color: #ffe603;
  text-shadow: 0 0 6px #ffe6038c 0 0 12px #ffe60359 0 0 18px #ffe60340;
  animation: 2.6s ease-in-out infinite textPulse;
}

#carouselHome[data-tema="eletronica"] .Title {
  color: #08a115;
  text-shadow: 0 0 6px #08a1158c 0 0 12px #08a11559 0 0 18px #08a11540;
  animation: 2.6s ease-in-out infinite textPulse;
}

#carouselHome[data-tema="refrigeracao"] .Title {
  color: #04e2ff;
  text-shadow: 0 0 6px #04e2ff8c 0 0 12px #04e2ff59 0 0 18px #04e2ff40;
  animation: 2.6s ease-in-out infinite textPulse;
}

#carouselHome[data-tema="climatizacao"] .botao-saiba-mais {
  color: #fff;
  background-color: #3a89ff52;
  border: 1px solid #3a89ff8c;
  animation: 2s ease-in-out infinite botaoPulse;
  box-shadow: 0 0 6px #3a89ff8c, 0 0 12px #3a89ff59, 0 0 18px #3a89ff40;
}

#carouselHome[data-tema="climatizacao"] .botao-saiba-mais:hover {
  transform: scale(1.04);
  box-shadow: 0 0 6px #3a89ffcc, 0 0 12px #3a89ff99, 0 0 18px #3a89ff7a;
}

@keyframes botaoPulse {
  0% {
    box-shadow: 0 0 6px #04e2ff8c, 0 0 12px #04e2ff59, 0 0 18px #04e2ff40;
  }

  50% {
    box-shadow: 0 0 12px #04e2ffbf, 0 0 22px #04e2ff8c, 0 0 32px #04e2ff66;
  }

  100% {
    box-shadow: 0 0 6px #04e2ff8c, 0 0 12px #04e2ff59, 0 0 18px #04e2ff40;
  }
}

#carouselHome[data-tema="eletrica"] .botao-saiba-mais {
  color: #fff;
  background-color: #ffe60352;
  border: 1px solid #ffe6038c;
  animation: 2s ease-in-out infinite botaoPulse;
  box-shadow: 0 0 6px #ffe6038c, 0 0 12px #ffe60359, 0 0 18px #ffe60340;
}

#carouselHome[data-tema="eletrica"] .botao-saiba-mais:hover {
  transform: scale(1.04);
  box-shadow: 0 0 6px #ffe603cc, 0 0 12px #ffe60399, 0 0 18px #ffe6037a;
}

#carouselHome[data-tema="eletronica"] .botao-saiba-mais {
  color: #fff;
  background-color: #08a11552;
  border: 1px solid #08a1158c;
  animation: 2s ease-in-out infinite botaoPulse;
  box-shadow: 0 0 6px #08a1158c, 0 0 12px #08a11559, 0 0 18px #08a11540;
}

#carouselHome[data-tema="eletronica"] .botao-saiba-mais:hover {
  transform: scale(1.04);
  box-shadow: 0 0 6px #08a115cc, 0 0 12px #08a11599, 0 0 18px #08a1157a;
}

#carouselHome[data-tema="refrigeracao"] .botao-saiba-mais {
  color: #fff;
  background-color: #04e2ff52;
  border: 1px solid #04e2ff8c;
  animation: 2s ease-in-out infinite botaoPulse;
  box-shadow: 0 0 6px #04e2ff8c, 0 0 12px #04e2ff59, 0 0 18px #04e2ff40;
}

#carouselHome[data-tema="refrigeracao"] .botao-saiba-mais:hover {
  transform: scale(1.04);
  box-shadow: 0 0 6px #04e2ffcc, 0 0 12px #04e2ff99, 0 0 18px #04e2ff7a;
}

#carouselHome[data-tema="climatizacao"] .carousel-indicators button {
  background-color: #3a89ff47;
  border: 1px solid #3a89ff73;
  transition: all .4s;
  box-shadow: 0 0 6px #3a89ff80;
}

#carouselHome[data-tema="climatizacao"] .carousel-indicators button.active {
  background-color: #3a89ff;
  border-color: #3a89ff;
  transform: scale(1.18);
  box-shadow: 0 0 12px #3a89ffe6, 0 0 20px #3a89ff99;
}

#carouselHome[data-tema="eletrica"] .carousel-indicators button {
  background-color: #ffe60347;
  border: 1px solid #ffe60373;
  transition: all .4s;
  box-shadow: 0 0 6px #ffe60380;
}

#carouselHome[data-tema="eletrica"] .carousel-indicators button.active {
  background-color: #ffe603;
  border-color: #ffe603;
  transform: scale(1.18);
  box-shadow: 0 0 12px #ffe603e6, 0 0 20px #ffe60399;
}

#carouselHome[data-tema="eletronica"] .carousel-indicators button {
  background-color: #08a11547;
  border: 1px solid #08a11573;
  transition: all .4s;
  box-shadow: 0 0 6px #08a11580;
}

#carouselHome[data-tema="eletronica"] .carousel-indicators button.active {
  background-color: #08a115;
  border-color: #08a115;
  transform: scale(1.18);
  box-shadow: 0 0 12px #08a115e6, 0 0 20px #08a11599;
}

#carouselHome[data-tema="refrigeracao"] .carousel-indicators button {
  background-color: #04e2ff47;
  border: 1px solid #04e2ff73;
  transition: all .4s;
  box-shadow: 0 0 6px #04e2ff80;
}

#carouselHome[data-tema="refrigeracao"] .carousel-indicators button.active {
  background-color: #04e2ff;
  border-color: #04e2ff;
  transform: scale(1.18);
  box-shadow: 0 0 12px #04e2ffe6, 0 0 20px #04e2ff99;
}

/*# sourceMappingURL=styles_carrossel_home_CarrosselHome_scss_css_bad6b30c._.single.css.map*/