@use "./_vars.scss" as *;
@use "./_colors.scss" as *;
@use "./_mixins-animations" as *;

/* Animação Scrooled */
#{nb(animacao-scroolled)}{
    box-shadow: 0 6px 30px $color-Anm-Scrolled-Secundary;
}

/* Container */
#{nb(c-NavHome1)}{
    box-shadow: 0 4px 20px $color-accent;
}

/* Botão Hamburger */
#{nb(hamburger)}{
    @include Animation-Hamburger(nb(activ), nb(hamburger-line));
    #{nb(hamburger-line)}{
        box-shadow: 0 0 6px $color-line;
    }
}
#{nb(light-theme)}{
    #{nb(hamburger)}{
        #{nb(hamburger-line)}{
            box-shadow: $color-line-light;
        }
    }
}

/* Logo */
#{nb(logo)}{
    @include Animation-Logo();
}

/* Icon Topo (Só mobile) */
#{nb(dropdown-icon-topo)}{
    box-shadow:
        0 0 14px $color-icon-topo1,
        0 0 16px $color-icon-topo1 inset;
}
#{nb(light-theme)}{
    #{nb(dropdown-icon-topo)}{
        box-shadow:
            0 0 14px $color-icon-topo-light,
            0 0 16px $color-icon-topo-light inset;
    }
}

/* Search */
#{L-indicador(l-search)}{
    #{nb(dropdown)}{
        box-shadow: 0 0 8px $color-search-accent;
    }
    #{search(inpt)}{
        &::placeholder{
            color: $color-search-input-plchld-primary;
        }
        &:focus{
            border-color: $color-search-accent;
            box-shadow: 0 0 8px $color-search-input-accent;
        }
    }
    #{search(btn-search)}{
        &:hover{
            transform: scale(1.05);
            box-shadow: 0 0 10px $color-search-button-accent;
        }
        &:active{
            transform: scale(0.96);
        }
    }
}