@use "./_vars.scss" as *;
@use "./_colors.scss" as *;

#{$Navbar-Home} {

  /* ================= NAVBAR ================= */

  background: linear-gradient(
    to right,
    $nbhome-color-primary-bg,
    $nbhome-color-secondary-bg
  );

  /* ================= DROPDOWN ================= */

  #{$nbhome-dropdown} {

    background: linear-gradient(
      190deg,
      $nbhome-color-dropdown-bg-primary,
      $nbhome-color-dropdown-bg-secondary
    );

    /* LINKS */

    #{$nbhome-dropdown-link} {
      color: $nbhome-color-dropdown-text;
    }
  }
  
  /* ================= DIVIDER ================= */
  #{$nbhome-divider}{
    background: $nbhome-color-divider;
  }

  /* ================= DROPDOWN HEADER ================= */

  .nb-dropdown-circle {
    background: $nbhome-color-dropdown-bg-primary;
  }

}