@use "../core/foundation/_vars.scss" as *;
@use "../core/foundation/_colors.scss" as *;

#{$Navbar-Home} {

  /* ================= NAVBAR ================= */

  background: linear-gradient(
    to right,
    $nbhome-color-primary-bg,
    $nbhome-color-secondary-bg
  );

  /* ================= SEARCH ================= */

  #{$nbhome-search} {
    #{$nbhome-search-submit} {
      background: $nbhome-color-search-submit-button;
    }
  }

  /* ================= DROPDOWN ================= */

  #{$nbhome-dropdown} {
    background: $nbhome-color-dropdown-bg;

    /* LINKS */

    #{$nbhome-dropdown-link} {
      color: $nbhome-color-dropdown-text;
    }
  }

  /* ================= DIVIDER ================= */

  #{$nbhome-divider} {
    background: $nbhome-color-divider;
  }

  /* ================= DROPDOWN HEADER ================= */

  .nb-dropdown-circle {
    background: $nbhome-color-dropdown-header-circle;
  }
}