$color-primary: #0000008c;
$color-secundary: #ffffff14;
$color-accent: #00000073;

/* Animação Scroolled */
$color-Anm-Scroolled-Primary: #000000bf;
$color-Anm-Scrolled-Secundary: #0000008c;

/* Botão Hamburger */
$color-line: #56adff;
$color-line2: #56adff;
$color-line-light: #0cbaff;

/* Logo */
$color-logo: #00bfff;

/* Icons Menu */
$color-icon-menu: #56adff;
$color-icon-menu2: #0cbaff;
$color-icon-menu-light: #00d4ff;