$nbhome-color-primary-bg: #00111a;
$nbhome-color-secondary-bg: #000;

/* Dropdown */
$nbhome-color-dropdown: #8a8f5a;
$nbhome-color-dropdown-text: #fff;

/* Dropdown - Header */
$nbhome-color-dropdown-header-circle: #2167d0;

/* Search */
$nbhome-color-search-submit-button: #0ec5f3;

/* Borda / divider */
$nbhome-color-divider: #fff;