@use "./_vars.scss" as *;
@use "./_colors.scss" as *;

/* Container */
#{nb(c-NavHome1)}{
    background: $color-primary;
    backdrop-filter: blur(14px);
    -webkit-backdrop-filter: blur(14px);
    border-bottom: 1px solid $color-secundary;
}

/* Animação Scrooled */
#{nb(animacao-scroolled)}{
    background: $color-Anm-Scroolled-Primary !important;
}

/* Botão Hamburger */
#{nb(hamburger-line)}{
    background: $color-line;
}
#{nb(light-theme)}{
    #{nb(hamburger-line)}{
        background: $color-line-light;
    }
}

/* Icons Menu */
@each $_, $btn in $iconsMenu{
    #{$btn}{
        #{nb(iconMenu)}{
            stroke: $color-icon-menu;
        }
    }
}
#{nb(light-theme)}{
    @each $_, $btn in $iconsMenu{
        #{$btn}{
            #{nb(iconMenu)}{
                stroke: $color-icon-menu-light;
            }
        }
    }
}

/* Icon Top Dropdown */
#{nb(dropdown-icon-topo)}{
    border: 3px solid $color-icon-topo1;
    svg{
        stroke: $color-icon-topo1;
    }
}
#{nb(light-theme)}{
    #{nb(dropdown-icon-topo)}{
        border: 3px solid $color-icon-topo-light;
        svg{
            stroke: $color-icon-menu-light;
        }
    }
}

/* Search */
#{L-indicador(l-search)}{
    #{nb(dropdown)}{
        background: linear-gradient(145deg, $color-search-primary-bg, $color-search-secondary-bg);
    }
    #{search(inpt)}{
        background: $color-search-input-primary;
        color: $color-search-input-text;
    }
    #{search(btn-search)}{
        background: linear-gradient(45deg, $color-search-button-primary, $color-search-button-secondary);
        svg{
            stroke: $color-search-button-icon;
        }
    }
}

/* Dropdowns */
@each $key, $li in $nb-li-no-search{
    #{$li}{
        #{nb(dropdown)}{
            border-top: 4px solid $color-dropdowns-border-top;
            background: linear-gradient(145deg, $color-dropdowns-primary, $color-dropdowns-secundary);
        }
        #{nb(dropdown-item)}{
            color: $color-dropdowns-link;
            svg{
                stroke: $color-dropdowns-icon;
            }
        }
    }
}
#{nb(light-theme)}{
    @each $key, $li in $nb-li-no-search{
    #{$li}{
        #{nb(dropdown)}{
            border-top: 4px solid $color-dropdowns-border-top-light;
        }
        #{nb(dropdown-item)}{
            svg{
                stroke: $color-dropdowns-icon-light;
            }
        }
    }
}
}

/* Barra Vertical */
#{nb(divider)}{
    background: $color-barra-primary;
}
#{nb(light-theme)}{
    #{nb(divider)}{
        background: $color-barra-secondary;
    }
}