@use "./_colors.scss" as *;
@use "./_vars.scss" as *;

/* Container */
#{nb(c-NavHome1)}{
    background: $color-primary;
    backdrop-filter: blur(14px);
    -webkit-backdrop-filter: blur(14px);
    border-bottom: 1px solid $color-secundary;
}

/* Animação Scrooled */
#{nb(animacao-scroolled)}{
    background: $color-Anm-Scroolled-Primary !important;
}

/* Botão Hamburger */
#{nb(hamburger-line)}{
    background: $color-line;
}