@use "./_vars.scss" as *;

#{$Navbar-Home}{
    #{$nbhome-container}{
        #{$nbhome-list}{
            #{$nbhome-search}{
                #{$nbhome-search-form}{
                    button{
                        svg{
                            width: 20px;
                            height: 20px;
                            flex-shrink: 0;
                        }
                    }
                }
            }
            @each $name, $selector in $nbhome-menus{
                #{$selector}{
                    button{
                        svg{
                            width: 20px;
                            height: 20px;
                            flex-shrink: 0;
                        }
                    }
                }
            }
        }
    }
}