@use "./_vars.scss" as *;

#{$Navbar-Home} {

  #{$nbhome-container} {

    #{$nbhome-menu} {

      #{$nbhome-list} {

        #{$nbhome-search}{
          #{$nbhome-search-form}{
            button{
              #{$nbhome-search-icon}{
                display: flex;
                align-items: center;
                justify-content: center;
                width: 18px;
                height: 18px;
                flex-shrink: 0;
                font-size: 1rem;
              }
            }
          }
        }

        @each $name, $selector in $nbhome-menus {

          #{$selector} {

            #{$nbhome-dropdown}{
              #{$nbhome-dropdown-link}{
                #{$nbhome-icons}{
                  width: 18px;
                  height: 18px;
                  flex-shrink: 0;
                }
                #{$nbhome-text}{
                  line-height: 1.4;
                  font-size: 0.95rem;
                }
              }
            }

            #{$nbhome-link} {

              #{$nbhome-icons} {
                display: flex;
                align-items: center;
                justify-content: center;

                width: 20px;
                height: 20px;
                flex-shrink: 0;
              }

            }

          }

        }

      }

    }

  }

}