@use "./_vars.scss" as *;

#{$Navbar-Home}{

    /* SEARCH */
    #{$nbhome-search}{
      #{$nbhome-search-toggle}{
        #{$nbhome-search-icon}{
          width: 18px;
          height: 18px;
          flex-shrink: 0;
        }
      }
    }
    
    /* MENUS */
    #{$nbhome-item}{
      #{$nbhome-link}{
        #{$nbhome-icons}{
          width: 18px;
          height: 18px;
          flex-shrink: 0;
        }
      }
    }

    /* ITENS DO MENU */
    @each $name, $selector in $nbhome-menus{
      #{$selector}{
        #{$nbhome-dropdown}{
          #{$nbhome-dropdown-link}{
            width: 18px;
            height: 18px;
            flex-shrink: 0;
          }
        }
      }
    }

}