@use "./_vars.scss" as *;

@media (min-width: 576px) {

  @each $key, $li in $nb-li-no-search {

    #{$li} {
      position: relative; // FUNDAMENTAL

      /* ===============================
         CONTAINER DO DROPDOWN
      =============================== */
      #{nb(dropdown)} {
        border-top: none !important;

        position: absolute;
        top: calc(100% + 48px);
        right: 24px;
        left: auto;

        min-width: 240px;
        padding-top: 60px; // espaço reservado pro top-icon
        padding-bottom: 16px;

        z-index: 1050;

        transform: none !important;
      }

      /* ===============================
         TOP ICON (VISUAL)
      =============================== */
      #{nb(dropdown-icon-topo)} {
        position: absolute;
        top: 12px;
        left: 50%;
        transform: translateX(-50%);

        width: 40px;
        height: 40px;

        display: flex;
        align-items: center;
        justify-content: center;

        pointer-events: auto;
        cursor: pointer;

        z-index: 2;
      }

      /* ===============================
         LINKS
      =============================== */
      #{nb(dropdown-item)} {
        display: flex;
        align-items: center;
        gap: 6px;

        padding: 6px 12px;
      }
    }
  }
}