@use "./_vars.scss" as *;

#{$Navbar-Home}{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  display: flex;
  flex-direction: column;
   height: auto;
  
  a{
    text-decoration: none;
  }

  #{$nbhome-container}{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    padding: 0 1rem;

    #{$nbhome-top}{
      display: flex;
      align-items: center;
      justify-content: space-between;

      width: 100%;
      height: 80px;
      padding: 0 1rem;
      
      #{$nbhome-logo}{
        position: relative;
        width: 90px;
        height: 70px;
        flex-shrink: 0;

        #{$nbhome-logo-image}{
          object-fit: contain;
        }
      }
    }

    #{$nbhome-menu}{
      width: 100%;
      overflow: hidden;
      max-height: 0;
      display: flex;
      flex-direction: column;

      #{$nbhome-list}{
        display: flex;
        flex-direction: column;
        gap: 0.75rem;

        padding: 1rem;
        margin: 0;
        list-style: none;

        #{$nbhome-item}{
          display: flex;
          align-items: center;

          #{$nbhome-link}{
            display: flex;
            align-items: center;
            gap: 0.5rem;

            width: 100%;
            min-height: 44px;

            padding: 0.75rem;
            border-radius: 6px;
          }
        }
      }
    }
  }
}