@use "./_vars.scss" as *;
@use "./_colors.scss" as *;

/* Animation Hamburger */
@mixin Animation-Hamburger($active-class, $line-selector){
    &#{$active-class}{
        #{$line-selector}:nth-child(1){
            transform: translateY(9px) rotate(45deg);
        }
        #{$line-selector}:nth-child(2){
            opacity: 0;
            transform: scaleX(0);
        }
        #{$line-selector}:nth-child(3){
            transform: translateY(-9px) rotate(-45deg);
        }
    }
}

/* Animation - Logo */
@mixin Animation-Logo(){
    &:hover{
        filter: drop-shadow(0 0 14px $color-logo);
    }
    animation: breathe 4s ease-in-out infinite;
    @keyframes breathe {
        0%{
            opacity: 0.75;
            transform: scale(1);
        }
        50%{
            opacity: 1;
            transform: scale(1.04);
        }
        100%{
            opacity: 0.75;
            transform: scale(1);
        }
    }
}

/* Dropdowns */
@mixin Animation-Dropdowns($color-hover, $x: 1.05, $duration: .25s) {
  display: flex;
  align-items: center;
  gap: 12px;

  transition:
    color $duration ease,
    transform $duration ease,
    background-color $duration ease,
    filter $duration ease;

  will-change: transform, color;

  &:hover {
    color: $color-hover;
    transform: scale($x);

    svg {
      transform: scale(1.05);
    }
  }

  svg {
    transition: transform $duration ease;
  }
}