/* Hidden Collapse */
%nbhome-hidden-collapse{
    opacity: 0;
    visibility: hidden;
    height: 0;
    min-height: 0;
    padding-top: 0;
    padding-bottom: 0;
    margin: 0;
    overflow: hidden;
    pointer-events: none;
}

/* Flex Center */
%nbhome-flex-center{
    display: flex;
    align-items: center;
}

/* Flex Center Full */
%nbhome-flex-center-full{
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Flex Between */
%nbhome-flex-between{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* Flex Column */
%nbhome-flex-column{
    display: flex;
    flex-direction: column;
}

/* Flex Column Center */
%nbhome-flex-column-center{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* Flex Column Start */
%nbhome-flex-column-start{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

/* Flex Column Stretch */
%nbhome-flex-column-stretch{
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

/* Vertical Scroll */
%nbhome-scroll-y{
    overflow-y: auto;
    overflow-x: hidden;
}