@use "./_vars.scss" as *;

/* ================= GLOBAL STATES ================= */
#{$nbhome-active} {
  font-weight: 600;
}

.hidden {
  display: none !important;
}

.disabled {
  pointer-events: none;
  opacity: 0.5;
}

/* ================= NAVBAR STATES ================= */

#{$Navbar-Home} {

  &.open{
    height: auto;
  }

  /* ===== CONTAINER ===== */
  #{$nbhome-container} {

    /* ===== TOP ===== */
    #{$nbhome-top} {

      /* --- HAMBURGER --- */
      #{$nbhome-hamburger} {
        cursor: pointer;
      }

      #{$nbhome-hamburger}#{$nbhome-open} {
        #{$nbhome-hamburger-line}:nth-child(1) {
          transform: translateY(7px) rotate(45deg);
        }

        #{$nbhome-hamburger-line}:nth-child(2) {
          opacity: 0;
        }

        #{$nbhome-hamburger-line}:nth-child(3) {
          transform: translateY(-7px) rotate(-45deg);
        }
      }
    }

    /* ===== MENU MOBILE ===== */
    #{$nbhome-menu} {
      max-height: 0;
      opacity: 0;
      overflow: hidden;
      pointer-events: none;

      transition:
        max-height 0.35s ease,
        opacity 0.25s ease;
    }

    #{$nbhome-menu}#{$nbhome-open} {
      max-height: 600px; // seguro
      opacity: 1;
      pointer-events: auto;
    }

    /* ===== LIST / ITEMS ===== */
    #{$nbhome-list} {

      #{$nbhome-item} {

        /* --- DROPDOWN --- */
        #{$nbhome-dropdown} {
          display: none;
        }

        &#{$nbhome-open} {
          > #{$nbhome-dropdown} {
            display: flex;
          }
        }
      }
    }

    /* ===== SEARCH ===== */
    #{$nbhome-search} {
      display: none;
    }

    #{$nbhome-search}#{$nbhome-open} {
      display: flex;
    }

  }
}