/* Spacing */
$nbhome-spacing-gap: 0.75rem;
$nbhome-spacing-left: 0.20rem;
$nbhome-desktop-gap: 1.5rem;

/* Height */
$nbhome-link-height: 44px;
$nbhome-search-height: 44px;

/* Width */
$nbhome-dropdown-desktop-width: 320px;
$nbhome-dropdown-width: 200px;
$nbhome-search-width: 100%;

/* Radius */
$nbhome-radius-sm: 6px;
$nbhome-radius-md: 12px;

/* TopBar */
$nbhome-topbar-height: 80px;