/* Spacing */
$nbhome-spacing-inline: 0.75rem;
$nbhome-spacing-gap: 0.75rem;
$nbhome-spacing-left: 0.20rem;

/* Radius */
$nbhome-radius-sm: 6px;
$nbhome-radius-md: 12px;

/* Height */
$nbhome-link-height: 44px;