/* Raiz */
$Navbar-Home: "#navbar-home";

/* Containers */
$nbhome-container: ".navbar-container";
$nbhome-logo: ".navbar-logo";
$nbhome-logo-image: ".logosef";
$nbhome-menu: ".navbar-menu";
$nbhome-list: ".navbar-list";

/* Hamburger */
$nbhome-hamburger: ".navbar-hamburger";
$nbhome-hamburger-line: "span";

/* Itens */
$nbhome-item: ".nb-item";
$nbhome-link: ".nb-link";

/* Icons */
$nbhome-icons: ".nb-icon";
/* Text de Icons */
$nbhome-text: ".nb-text";

/* Barra divisória */
$nbhome-divider: ".nb-divider";

/* Dropdowns */
$nbhome-dropdown: ".nb-dropdown";
$nbhome-dropdown-link: ".nb-dropdown-link";

/* Estados */
$nbhome-open: ".open";
$nbhome-active: ".active";

$nbhome-menus: (
    servico: "#services",
    qmsomos: "#company",
    ajsuport: "#support",
    portcert: "#portfolio"
);

/* ----------------------- SEARCH --------------------- */
$nbhome-search: "#search";
$nbhome-search-form: ".nb-search-form";
$nbhome-search-input: ".nb-search-input";
$nbhome-search-button: ".nb-search-btn";
$nbhome-search-icon: ".nb-search-icon";