/* Mapa de variáveis -ESCALÁVEL */

$nb-vars: (
  /* Containers */
  c-NavHome1: "#nbHome",
  c-NavHome2: "#nbHome2",

  /* Logo */
  logo: "#logoNavbar",

  /* Collapse */
  collapse: ".navbar-collapse",

  /* Items */
  item: ".nav-item",
  link: ".nav-link",

  /* Hamburger */
  hamburger: "#MenuHamburger",
  hamburger-line: ".line",

  /* Dropdown */
  dropdown: ".dropdown-menu",
  dropdown-item: ".dropdown-item",

  /* Search */
  search-li: "#LI-search",
  search-box: ".dropdown-search-box",
  search-input: ".search-input",
  search-btn: ".search-btn",

  /* Buttons */
  btn-search: "#btnSearch",
  btn-serv: "#btnServicos",
  btn-qm: "#btnQmSms",
  btn-aj: "#btnAjSu",
  btn-port: "#btnPortCert",

  /* Animações */
  animacao-scroolled: ".scrolled",
  
  /* Others animations */
  active: ".active",
);

/* Função para chamar variaveis */
@function nb($key){
   @return map-get($nb-vars, $key);
};