$nb-vars: (
  /* Containers */
  c-NavHome1: "#nbHome",
  c-NavHome2: "#nbHome2",

  /* Logo */
  logo: "#logoNavbar",

  /* Collapse */
  collapse: ".navbar-collapse",

  /* Items */
  item: ".nav-item",
  link: ".nav-link",

  /* Hamburger */
  hamburger: "#MenuHamburger",
  hamburger-line: ".line",

  /* Dropdown */
  dropdown: ".dropdown-menu",
  dropdown-item: ".dropdown-item",

  /* Icone que fica no topo do dropdown só para mobile MIN-WIDHT-575px */
  dropdown-icon-topo: ".dropdown-top-icon",

  /* Search */
  search-box: ".dropdown-search-box",
  search-input: ".search-input",
  search-btn: ".search-btn",

  /* Buttons */
  btn-search: "#btnSearch",
  btn-serv: "#btnServicos",
  btn-qm: "#btnQmSms",
  btn-aj: "#btnAjSu",
  btn-port: "#btnPortCert",

  /* Icones Menu */
  iconMenu: ".iconMn",

  /* Animações */
  animacao-scroolled: ".scrolled",
  activ: ".active",
  show: ".show",

  /* Themes - LIGHT  - Só estado */
  light-theme: ".theme-light",
);

/* ================= FUNÇÃO BASE ================= */
@function nb($key) {
  @return map-get($nb-vars, $key);
}

/* ================= ICONES DO MENU ================= */
$iconsMenu: (
  bt-S: nb(btn-search),
  bt-Srv: nb(btn-serv),
  bt-QS: nb(btn-qm),
  bt-AS: nb(btn-aj),
  bt-PC: nb(btn-port),
);

/* ================= SEARCH (EXCLUSIVO) ================= */
$search-vars: (
  boxx: nb(search-box),
  inpt: nb(search-input),
  btn-search: nb(search-btn),
);

@function search($key) {
  @return map-get($search-vars, $key);
}

/* ================= INDICADORES (LI) ================= */
$nb-li: (
  l-search: "#LI-search",
  l-services: "#LI-services",
  l-quemSomos: "#LI-quemSomos",
  l-suporte: "#LI-suporte",
  l-PortCertific: "#LI-portCert",
);

@function L-indicador($key) {
  @return map-get($nb-li, $key);
}