@use "../core/_vars.scss" as *;
@use "../core/_mixins.scss" as *;

@media (min-width: 576px) {

  /* ================= CONTAINER ================= */

  #{$Navbar-Home} #{$nbhome-container} {
    @include nbhome-flex-row-center;

    justify-content: space-between;
  }

  /* ================= MENU ================= */

  #{$Navbar-Home} #{$nbhome-menu} {
    @include nbhome-flex-row-center;

    width: auto;
    max-height: none;
    overflow: visible;
    opacity: 1;
    pointer-events: auto;
  }

  /* ================= LISTA ================= */

  #{$Navbar-Home} #{$nbhome-list} {
    @include nbhome-flex-row-center;

    width: auto;
    margin-left: auto;
    padding: 0;
    gap: 1.5rem;
  }

  /* ================= ITEM ================= */

  #{$Navbar-Home} #{$nbhome-item} {
    width: auto;
    position: relative;
  }

  /* ================= LINK ================= */

  #{$Navbar-Home} #{$nbhome-link} {
    width: auto;
    padding: 0.5rem 0.75rem;
  }

  /* ================= ESCONDE TEXTO AUXILIAR ================= */

  #{$Navbar-Home} #{$nbhome-text-menu} {
    display: none;
  }

  /* ================= DROPDOWN DESKTOP ================= */

  #{$Navbar-Home} #{$nbhome-dropdown} {
    position: absolute;
    top: 100%;
    left: 0;

    display: none;

    flex-direction: column;

    min-width: 200px;
    z-index: 50;
  }

  /* ================= DROPDOWN OPEN ================= */

  #{$Navbar-Home} #{$nbhome-item}.open > #{$nbhome-dropdown} {
    display: flex;
  }

}