@use "../core/_vars.scss" as *;

/* CONTAINER - Logo para direita e botão menu sanduiche para esquerda */
@media (max-width: 575px){
    #{nb(c-NavHome1)}{
        #{nb(c-NavHome2)}{
            display: flex !important;
            flex-direction: row-reverse !important;
            justify-content: space-between !important;
            align-items: center !important;
        }
    }
}

/* Botão Hamburger */
@media (min-width: 576px){
    /* Some o botão Hamburger de outras resoluções além de mobile */
    #{nb(hamburger)}{
        display: none !important;
    }
}