@use "../core/_vars.scss" as *;
@use "../core/_breakpoints.scss" as *;

@media (min-width: 375px) and (max-width: 575.98px) {

  #{$Navbar-Home} {

    #{$nbhome-container} {
      flex-direction: column;
      align-items: stretch;
    }

    /* MENU */
    #{$nbhome-menu} {
      max-height: 0;
      overflow: hidden;
      opacity: 0;
      pointer-events: none;
      transition: max-height 0.35s ease, opacity 0.25s ease;
    }

    #{$nbhome-menu}#{$nbhome-open} {
      max-height: 500px; // valor alto seguro
      opacity: 1;
      pointer-events: auto;
    }

    /* LISTA */
    #{$nbhome-list} {
      flex-direction: column;
      align-items: stretch;
      gap: 0.75rem;
    }

    /* ITEM */
    #{$nbhome-item} {
      width: 70%;
      margin: 0 auto;
    }

    /* SEARCH (estrutura apenas) */
    #{$nbhome-search} {
      flex-direction: row;
      gap: 0.5rem;
    }

  }

}