@use "../core/_vars.scss" as *;
@use "../core/_breakpoints.scss" as *;

@media (min-width: 576px){
    #{$Navbar-Home}{
        #{$nbhome-search}{
            position: relative;
            width: auto;

            #{$nbhome-search-toggle}{
                display: flex;
                align-items: center;
                justify-content: center;
            }
            #{$nbhome-search-box}{
                display: none;
            }

            &.open{
                #{$nbhome-search-box}{
                    display: flex;
                    position: absolute;
                    margin: 0 auto;

                    top: calc(100% + 4rem);
                    left: 50%;
                    transform: translateX(-50%);

                    gap: 0.5rem;
                    padding: 0.75rem;
                    border-radius: 12px;
                    width: clamp(220px, 40vw, 380px);
                    z-index: 2000;
                }
            }
        }
    }
}