@use "../core/_vars.scss" as *;
@use "../core/_breakpoints.scss" as *;

@media (min-width: $breakpoint-min-sm){
    #{$nbhome-search}{
        position: relative;
        width: auto;

        #{$nbhome-search-toggle}{
            display: flex;
            align-items: center;
            justify-content: center;
        }
        #{$nbhome-search-box}{
            display: none;
        }

        &.open{
            #{$nbhome-search-toggle}{
                opacity: 0;
            }
            #{$nbhome-search-box}{
                display: flex;
                position: absolute;
                margin: 0 auto;

                top: calc(100% + 1.6rem);
                left: 50%;
                transform: translateX(-50%);

                gap: 0.5rem;
                padding: 0.75rem;
                border-radius: 12px;
                width: 300px;
                z-index: 2000;
            }
        }
    }
}