@use "../core/_vars.scss" as *;
@use "../core/_breakpoints.scss" as *;

@media (min-width: 576px) and (max-width: 991.98px) {
    #{$Navbar-Home}{
        #{$nbhome-dropdown} {
            position: fixed;

            top: 120px;
            left: 50%;
            transform: translateX(-50%);

            width: 90%;
            max-width: 480px;

            z-index: 5000;
        }
    }

}

@media (min-width: 576px) {
    #{$Navbar-Home}{
        #{$nbhome-container}{
            flex-direction: row;
            align-items: center;
            justify-content: space-between;

            #{$nbhome-menu}{
                flex-direction: row;
                max-height: none;
                opacity: 1;
                pointer-events: auto;
                overflow: visible;
            }

            #{$nbhome-list}{
                flex-direction: row !important;
                align-items: center !important;
                margin-left: auto !important;
                #{$nbhome-text-menu}{
                    display: none;
                }
            }
        }
    }
}