@use "../core/_vars.scss" as *;

#{$lj-curve}{
    position: absolute !important;
    width: 180%;
    height: 220px;
    top: -120px;
    left: 50%;
    content: "";
    opacity: 0.30;
    border-radius: 50%;
    transform: translateX(-50%);
    pointer-events: none;
    z-index: 1;
}