@use "../../core/foundation/_vars.scss" as *;

#{$Navbar-Home}{
    #{$nbhome-logo}{
        position: relative;
        flex-shrink: 0;
        width: 90px;
        height: 80px;
    }
    #{$nbhome-logo-image}{
        object-fit: contain;
    }
}