@use "../foundation/_vars.scss" as *;
@use "../utilities/_placeholders.scss" as *;
@use "../foundation/colors" as *;
@use "../effects/transitions" as *;

#{$Navbar-Home} {
  #{$nbhome-search}{
    #{$nbhome-search-toggle}.is-hidden {
      @extend %nbhome-hidden-collapse;
      display: none;
    }
    #{$nbhome-search-toggle}{
      transition: translate $nbhome-transition-fast,
      color $nbhome-transition-fast;
      &:hover{
        transform: translateX(5px);
      }
      #{$nbhome-search-icon}{
        &:hover{
          color: color-mix(in srgb, $nbhome-color-icon-menu, 80% #000);
        }
      }
      #{$nbhome-search-text}{
        transition: translate $nbhome-transition-fast,
        color $nbhome-transition-fast;
        &:hover{
          color: color-mix(in srgb, $nbhome-color-text, 70% #000);
        }
      }
    }
  }

  #{$nbhome-search}.open #{$nbhome-search-box} {
    display: flex;
  }

  #{$nbhome-search}{
    /* ========== SUBMIT =========== */
    #{$nbhome-search-submit}{
       transition: background-color $nbhome-transition-fast ease,
       color $nbhome-transition-fast ease;
       &:hover{
        background-color:
          color-mix(in srgb, $nbhome-color-search-submit-button, 90% black);
       }
       &:active{
        background-color:
          color-mix(in srgb, $nbhome-color-search-submit-button, 80% black);
       }
      &:focus-visible{
        outline: 2px solid currentColor;
        outline-offset: 2px;
      }
    }
    /* ========== INPUT =========== */
    #{$nbhome-search-input}{
      transition: border-color $nbhome-transition-fast ease,
      box-shadow $nbhome-transition-fast ease;
      &:focus{
        outline: none;
      }
      &:focus-visible{
        outline: 1px solid $nbhome-color-icon-search;
        outline-offset: 2px;
      }
      &::placeholder{
        color: $nbhome-color-search-input;
        opacity: 1;
      }
    }
  }

}