@use "../foundation/_vars.scss" as *;
@use "../foundation/_colors.scss" as *;

#{$Navbar-Home}{
    #{$nbhome-hamburger}{
        &:focus-visible{
            outline: 2px solid $nbhome-color-hamburger-open;
            outline-offset: 3px;
        }
    }
    #{$nbhome-hamburger}#{$nbhome-open} span:nth-child(1) {
        transform: translateY(7px) rotate(45deg);
    }
    #{$nbhome-hamburger}#{$nbhome-open} span:nth-child(2) {
        opacity: 0;
    }
    #{$nbhome-hamburger}#{$nbhome-open} span:nth-child(3) {
        transform: translateY(-7px) rotate(-45deg);
    }
}