@use "../../core/foundation/_vars.scss" as *;
@use "../../core/layout/_breakpoints.scss" as *;
@use "../../core/foundation/_tokens.scss" as *;

@media (min-width: 991.99px){

  #{$Navbar-Home}{

    #{$nbhome-item}{
      position: static;
    }

    #{$nbhome-dropdown}{
      position: fixed;

      top: $nbhome-dropdown-desktop-top;
      right: $nbhome-dropdown-desktop-right;
      left: auto;

      width: $nbhome-dropdown-desktop-width;

      margin: 0;
      padding: $nbhome-dropdown-desktop-padding;

      z-index: 99999;
    }

  }

}