@use "../../core/foundation/_vars.scss" as *;
@use "../../core/foundation/_tokens.scss" as *;
@use "../../core/foundation/_zindex.scss" as *;
@use "../../core/layout/_breakpoints.scss" as *;

@media (min-width: 576px) and (max-width: 991.98px) {

  #{$Navbar-Home} {

    #{$nbhome-dropdown} {
      position: fixed;

      top: $nbhome-tablet-dropdown-top;
      left: 50%;

      transform: translateX(-50%);

      width: $nbhome-tablet-dropdown-width;
      max-width: $nbhome-tablet-dropdown-max-width;

      z-index: $z-dropdown-tablet;
    }

  }

}