$nbH-cor-bg: #0000008c;
$nbH-cor-border: #ffffff14;
$nbH-cor-bxs: #00000073;

/* Cor icones do Menu */
$nbH-cor-icon-Mn1: #56adff;
$nbH-cor-icon-Mn2: #0cbaff;

/* Cor dos Icones do Menu - LIGHT */
$nbH-cor-icon-LIGHT1: #00d4ff;
$nbH-cor-icon-LIGHT2: #00dcffb3;
$nbH-cor-icon-LIGHT3: #37e1ff;
$nbH-cor-icon-LIGHT4: #00f0ff;

/* Scrolled */
$N-bg-S: #000000bf;
$N-bg-S-shd: #0000008c;