@use "./_globals-NavbarHome" as *;

/* LOGO */
@mixin LOGO-D(){
    #{$nb-Logo}{
        margin-left: 50px !important;
    }
}

@media (min-width: 993px) and (max-width: 1300px){
    #{$M-Btn-Hamburger}{
        display: none !important;
    }
    #{$Drp-Top-Icon},
    #{$Drp-Top-Icon}#{$M-Visible}{
        display: none !important;
        opacity: 0 !important;
        pointer-events: none !important;
    }
    @include LOGO-D();
}