@use "./_globals-NavbarHome" as *;

/* CONTEINER */
#{$c-NavHome1}{
    margin-bottom: 30px;
    backdrop-filter: blur(14px);
    -webkit-backdrop-filter: blur(14px);
    transition: all 0.35s ease;
}

/* LOGO */
#{$c-NavHome1}{
    #{$c-NavHome2}{
        #{$nb-Logo}{
            width: 70px;
            cursor: pointer;
            transition: 0.3s ease;
        }
    }
}

/* DROPDOWN */
#{$c-NavHome1}{
    #{$nb-Hm-Dropd-Mn}{
        position: relative;
        border-radius: 12px;
        padding: 6px 0;
        transition: border-color 0.3s ease, box-shadow 0,3s ease;
        #{$nb-Dropd-Item}{
            display: flex;
            align-items: center;
            justify-content: flex-start;
            gap: 6px;
            border-radius: 8px;
            transition: stroke 0.35s ease, transform 0.25s ease;
            svg{
                margin-right: 5px;
                width: 18px;
                height: 18px;
            }
        }
    }
    #{$Drp-Top-Icon}{
        background: #000000dd;
        border: 3px solid $D-neon1;
              box-shadow:
                0 0 14px $D-neon1,
                0 0 22px $D-neon1 inset;
        opacity: 0;
        transform: translate(-50%, -6px);
        svg{
            color: $D-neon1 !important;
        }
    }
}

/* MENU HAMBURGER */
#{$c-NavHome1}{
    #{$M-Lines}{
        width: 26px;
        height: 3px;
        border-radius: 4px;
        transition: 0.35s ease;
    }
    #{$M-Lines} + #{$M-Lines}{
        margin-top: 6px;
    }
}

/* SEARCH */
#{$c-NavHome1}{
    #{$c-NavHome2}{
        #{$S-Box}{
            display: flex;
            align-items: center;
            width: 100%;
            max-width: 300%;
            padding: 16px;
            gap: 0;
        }
        #{$S-Input}{
            flex: 1;
            height: 40px;
            border-radius: 10px 0 0 10px;
        }
        #{$S-btn-Search}{
            border: none;
            width: 50px;
            height: 44px;
            border-radius: 0 10px 10px 0;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            transition: all 0.25s ease;
            svg{
                width: 22px;
                height: 22px;
            }
        }
    }
}

/* ICONS MENU */
#{$c-NavHome1}{
    @each $id in $nav-icons-Mn{
        #{$id}{
            svg{
                width: 18px;
                height: 18px;
            }
        }
    }
}