@use "./_globals-NavbarHome" as *;

@mixin Design-Nb-CONTEINER(){
    #{$c-NavHome1}{
        margin-bottom: 30px;
        backdrop-filter: blur(14px);
        -webkit-backdrop-filter: blur(14px);
        box-shadow: 0 4px 20px $nbH-cor-bxs;
        transition: all 0.35s ease;
        background: $nbH-cor-bg !important;
        border-bottom: 1px solid $nbH-cor-border;
    }
}
@include Design-Nb-CONTEINER();

@mixin Design-Nb-LOGO(){
    #{$c-NavHome2}{
        #{$nb-Logo}{
            width: 70px;
            cursor: pointer;
            transition: 0.3s ease;
        }
    }
}
@include Design-Nb-LOGO();

@mixin Design-nb-SEARCH(){
    #{$c-NavHome2}{
        #{$S-Box}{
            display: flex;
            align-items: center;
            width: 100%;
            padding: 16px;
            gap: 0;
        }
        #{$S-Input}{
            flex: 1;
            height: 40px;
            background: $SS-cor-input;
            border: 1px solid $SS-cor-border;
            border-radius: 10px 0 0 10px;
            &::placeholder{
                color: $SS-cor-placehld;
            }
        }
        #{$S-btn-Search}{
            border: none;
            width: 50px;
            height: 44px;
            border-radius: 0 10px 10px 0;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            background: linear-gradient(45deg, #00aaff, #006eff);
            transition: all 0.25s ease;
            svg{
                width: 22px;
                height: 22px;
                color: #fff;
            }

        }
    }
}
@include Design-nb-SEARCH();


@mixin Design-Nb-ICONS-MN(){
    @each $id in $nav-icons-Mn{
        #{$id}{
            svg{
                width: 18px;
                height: 18px;
                stroke: $nbH-cor-icon-Mn1;
            }
        }
    }
    /* ICONES NO LIGHT */
    #{$nb-LIGHT}{
        @each $bt in $nav-icons-Mn{
            #{$bt} svg{
                stroke: $nbH-cor-icon-LIGHT1 !important;
            }
        }
    }
}
@include Design-Nb-ICONS-MN();