@use "./_globals-NavbarHome" as *;

/* LOGO */
@mixin ANM-LOGO(){
    animation: breathe 4s ease-in-out infinite;
    &:hover{
        filter: drop-shadow(0 0 14px #00bfff);
    }
    @keyframes breathe {
        0%{
            opacity: 0.75;
            transform: scale(1);
        }
        50%{
            opacity: 1;
            transform: scale(1.04);
        }
        100%{
            opacity: 0.75;
            transform: scale(1);
        }
    }
}

/* SEARCH */
@mixin ANM-SEARCH-Input(){
    &::placeholder{
        color: $SS-cor-placehld;
    }
    &:focus{
        border-color: $SS-cor-border-focus;
        box-shadow: $SS-cor-bx-sha-focus;
    }
}

/* ICONES DO MENU */
@mixin ANM-ICONS-MN(){
    &:hover{
        stroke: $nbH-cor-icon-Mn2;
        filter: drop-shadow(0 0 16px $nbH-cor-icon-Mn2);
        transform: scale(1.04);
    }
}
@mixin ANM-ICONS-MN-Light(){
    &:hover{
        stroke: $nbH-cor-icon-LIGHT3 !important;
        filter: drop-shadow(0 0 10px $nbH-cor-icon-LIGHT4) !important;
        transform: scale(1.04);
    }
}

/* SCROLLED */
@mixin ANM-Scrolled(){
    #{$nb-ScrollLed}{
        background: $N-bg-S !important;
        box-shadow: 0 6px 30px $N-bg-S-shd;
    }
}