@use "./_globals-NavbarHome" as *;

@media (min-width: 993px) and (max-width: 1500px){
    #{$c-NavHome1}{
        #{$S-li-Search}{
            #{$nb-Hm-Dropd-Mn}{
                min-height: 90px;
                width: 520px !important;
                #{$S-Box}{
                    padding: 14px;
                    #{$S-Input}{
                        width: 150px !important;
                        height: 40px;
                        font-size: 14px;
                    }
                    #{$S-btn-Search}{
                        width: 48px;
                        height: 44px;
                        svg{
                            width: 20px;
                            height: 20px;
                        }
                    }
                }
            }
        }
    }
}