@use "./_globals-NavbarHome" as *;

/* LOGO */
@mixin LOGO-T(){
    #{$nb-Logo}{
        margin-left: 30px;
    }
}

@media (min-width: 576px) and (max-width: 992px) {
    #{$M-Btn-Hamburger}{
        display: none !important;
    }
    #{$Drp-Top-Icon},
    #{$Drp-Top-Icon}#{$M-Visible}{
        display: none !important;
        opacity: 0 !important;
        pointer-events: none !important;
    }
    @include LOGO-T();
}