@use "./globals-NavbarHome" as *;
@use "./mixins-animations-NavbarHome" as *;

/* CONTAINER */
#{$c-NavHome1}{
    box-shadow: 0 4px 20px $nbH-cor-bxs;
    background: $nbH-cor-bg !important;
    border-bottom: 1px solid $nbH-cor-border;
}

/* LOGO */
#{$c-NavHome1}{
    #{$c-NavHome2}{
        #{$nb-Logo}{
            @include ANM-LOGO();
        }
    }
}

/* MENU HAMBURGER */
#{$c-NavHome1}{
    #{$M-Lines}{
        background: #56adff;
        box-shadow: 0 0 6px #56adff;
    }
    #{$M-Btn-Hamburger}{
        @include ANM-MN-HAMBURGER();
    }
}
#{$nb-LIGHT}{
    #{$c-NavHome2}{
        #{$M-Lines}{
            background: #0cbaff;
            box-shadow: 0 0 6px #0cbaff;
        }
    }
}

/* DROPDOWNS */
#{$c-NavHome1}{
    #{$nb-Hm-Dropd-Mn}{
        background: radial-gradient(circle at top, #00111a, #000);
        border: 2px solid #00b4ffb3;
        box-shadow:
            0 0 15px #00b4ffb3,
            0 0 25px #00b4ff66;
        backdrop-filter: blur(4px);
        @include ANM-DROPDOWN-MN();
        
        #{$nb-Dropd-Item}{
            color: #fff;
            @include ANM-DROPDOWN-ITEM();
            svg{
                stroke: $D-sbmn1 !important;
                text-shadow: 0 0 12px $D-sbmn2;
            }
        }
        #{$Drp-Top-Icon}{
            background: #000000dd;
            border: 3px solid $D-neon1;
                box-shadow:
                    0 0 14px $D-neon1,
                    0 0 22px $D-neon1 inset;
            opacity: 0;
            transform: translate(-50%, -6px);
            svg{
                color: $D-neon1 !important;
            }
            @include ANM-DROPDOWN-ICON-TOPO();
        }

        #{$M-Show}{
            @include ANM-DROPDOWN-BORDA();
        }
    }
}
#{$nb-LIGHT}{
    #{$nb-Hm-Dropd-Mn}{
        border: 1px solid $D-borda-Light;
        box-shadow:
            0 0 20px $D-borda-Light,
            0 0 35px $D-borda-Light,
            inset 0 0 10px $D-borda-Light;
            backdrop-filter: blur(6px);
    }
    #{$Drp-Top-Icon}{
        border-color: #0cbaff;
        box-shadow:
            0 0 14px #0cbaff,
            0 0 22px #0cbaff inset;
        svg{
            stroke: #0cbaff !important;
        }

    }
}

/* SEARCH */
#{$S-li-Search}{
    #{$S-Input}{
        background: $SS-cor-input;
        border: 1px solid $SS-cor-border;
        @include ANM-SEARCH-Input();
    }
    #{$S-btn-Search}{
        background: linear-gradient(45deg, #00aaff, #006eff);
        svg{
            color: #fff;
        }
    }
}

/* ICONES MENU */
#{$c-NavHome1}{
    @each $Anm in $nav-icons-Mn{
        #{$Anm}{
            svg{
                stroke: $nbH-cor-icon-Mn1;
                filter: drop-shadow(0 0 10px $nbH-cor-icon-Mn1);
                @include ANM-ICONS-MN();
            }
        }
    }
}
#{$nb-LIGHT}{
    @each $AnmLI in $nav-icons-Mn{
        #{$AnmLI}{
            svg{
                stroke: $nbH-cor-icon-LIGHT1 !important;
                filter: drop-shadow(0 0 10px $nbH-cor-icon-LIGHT2) !important;
                transition: all 0.3s ease, filter 0.4s ease;
                @include ANM-ICONS-MN-Light();
            }
        }
    }
}

/* SCROLLED */
#{$c-NavHome1}{
    @include ANM-Scrolled();
}