@use "./globals-NavbarHome" as *;
@use "./mixins-animations-NavbarHome" as *;

/* CONTAINER */
#{$c-NavHome1}{
    box-shadow: 0 4px 20px $nbH-cor-bxs;
    background: $nbH-cor-bg !important;
    border-bottom: 1px solid $nbH-cor-border;
}

/* LOGO */
#{$c-NavHome1}{
    #{$c-NavHome2}{
        #{$nb-Logo}{
            @include ANM-LOGO();
        }
    }
}

/* SEARCH */
#{$S-li-Search}{
    #{$S-Input}{
        background: $SS-cor-input;
        border: 1px solid $SS-cor-border;
        @include ANM-SEARCH-Input();
    }
    #{$S-btn-Search}{
        background: linear-gradient(45deg, #00aaff, #006eff);
        svg{
            color: #fff;
        }
    }
}

/* ICONES MENU */
#{$c-NavHome1}{
    @each $Anm in $nav-icons-Mn{
        #{$Anm}{
            svg{
                stroke: $nbH-cor-icon-Mn1;
                filter: drop-shadow(0 0 10px $nbH-cor-icon-Mn1);
                @include ANM-ICONS-MN();
            }
        }
    }
}
#{$nb-LIGHT}{
    @each $AnmLI in $nav-icons-Mn{
        #{$AnmLI}{
            svg{
                stroke: $nbH-cor-icon-LIGHT1 !important;
                filter: drop-shadow(0 0 10px $nbH-cor-icon-LIGHT2) !important;
                transition: all 0.3s ease, filter 0.4s ease;
                @include ANM-ICONS-MN-Light();
            }
        }
    }
}

/* SCROLLED */
#{$c-NavHome1}{
    @include ANM-Scrolled();
}