$c-NavHome1: '#nbHome';
$c-NavHome2: '#nbHome2';

$nb-Logo: '#logoNavbar';

$nb-btn-Hamburger: '#MenuHamburger';
$nb-cllp: 'collapse';

/* Menus */
$nb-Icon-Menu: '.iconMn';
$nb-Mn-Home: '#navbarHome';
$nb-Hm-Nav: '.navbar-nav';
$nb-Hm-Item: '.nav-item';
$nb-Hm-Link: '.nav-link';
$Search-icon: '.nav-icon';

/* Submenus */
$nb-Hm-Dropd-Mn: '.dropdown-menu';
$nb-Dropd-Item: '.dropdown-item';
