// use strings para seletores que começam com # ou .
$c-NavHome1: "#nbHome";
$c-NavHome2: "#nbHome2";
$nb-Logo: "#logoNavbar";
$nb-btn-Hamburger: "#MenuHamburger";

$nb-cllp: ".collapse";

/*Animação */
$nb-ScrollLed: ".scrolled";

/* Menus */
$nb-Icon-Menu: ".iconMn";
$nb-Mn-Home: "#navbarHome";
$nb-Hm-Nav: ".navbar-nav";
$nb-Hm-Item: ".nav-item";
$nb-Hm-Link: ".nav-link";
$Search-icon: ".nav-icon";

/* Botões dos Menus */
$bt-Search: "#btnSearch";
$bt-Services: "#btnServicos";
$bt-QmSm: "#btnQmSms";
$bt-AjSup: "#btnAjSu";
$bt-PortCert: "#btnPortCert";

/* Botões dos Menus para @each */
$nav-icons-Mn: (
    $bt-Search,
    $bt-Services,
    $bt-QmSm,
    $bt-AjSup,
    $bt-PortCert
);

/* Submenus */
$nb-Hm-Dropd-Mn: ".dropdown-menu";
$nb-Dropd-Item: ".dropdown-item";

/* PARA LAYOUT */
$nb-nv-Collapse: ".navbar-collapse";
$nb-nv-Toggler: ".navbar-toggler";

/* THEME LIGHT */
$nb-LIGHT: ".theme-light";