@charset "UTF-8";
/* Animação */
/* Menus */
/* Botões dos Menus */
/* SEARCH  */
/* MENU HAMBURGER */
/* SHOW */
/* Botões dos Menus para @each */
/* Submenus */
/* PARA LAYOUT */
/* THEME LIGHT */
/* Cor icones do Menu */
/* Cor dos Icones do Menu - LIGHT */
/* CARD DROPDOWN ICON TOPO */
/* SEARCH */
/* Scrolled */
/* CONTEINER */
#nbHome {
  margin-bottom: 30px;
  backdrop-filter: blur(14px);
  -webkit-backdrop-filter: blur(14px);
  transition: all 0.35s ease;
}

/* LOGO */
#nbHome #nbHome2 #logoNavbar {
  width: 70px;
  cursor: pointer;
  transition: 0.3s ease;
}

/* DROPDOWNS */
#nbHome .dropdown-menu {
  position: relative;
  border-radius: 12px;
  padding: 6px 0;
  transition: border-color 0.3s ease, box-shadow 0, 3s ease;
}
#nbHome .dropdown-menu .dropdown-item {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 6px;
  border-radius: 8px;
  transition: stroke 0.35s ease, transform 0.25s ease;
}
#nbHome .dropdown-menu .dropdown-item svg {
  margin-right: 5px;
  width: 18px;
  height: 18px;
}

/* MENU HAMBURGER */
#nbHome .line {
  width: 26px;
  height: 3px;
  border-radius: 4px;
  transition: 0.35s ease;
}
#nbHome .line + .line {
  margin-top: 6px;
}

/* SEARCH */
#nbHome #nbHome2 .dropdown-search-box {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 300%;
  padding: 16px;
  gap: 0;
}
#nbHome #nbHome2 .search-input {
  flex: 1;
  height: 40px;
  border-radius: 10px 0 0 10px;
}
#nbHome #nbHome2 .search-btn {
  border: none;
  width: 50px;
  height: 44px;
  border-radius: 0 10px 10px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.25s ease;
}
#nbHome #nbHome2 .search-btn svg {
  width: 22px;
  height: 22px;
}

/* ICONS MENU */
#nbHome #btnSearch svg {
  width: 18px;
  height: 18px;
}
#nbHome #btnServicos svg {
  width: 18px;
  height: 18px;
}
#nbHome #btnQmSms svg {
  width: 18px;
  height: 18px;
}
#nbHome #btnAjSu svg {
  width: 18px;
  height: 18px;
}
#nbHome #btnPortCert svg {
  width: 18px;
  height: 18px;
}

/* LOGO */
/* MENU HAMBURGER */
/* DROPDOWNS */
/* SEARCH */
/* ICONES DO MENU */
/* SCROLLED */
/* CONTAINER */
#nbHome {
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.4509803922);
  background: rgba(0, 0, 0, 0.5490196078) !important;
  border-bottom: 1px solid rgba(255, 255, 255, 0.0784313725);
}

/* LOGO */
#nbHome #nbHome2 #logoNavbar {
  animation: breathe 4s ease-in-out infinite;
}
#nbHome #nbHome2 #logoNavbar:hover {
  filter: drop-shadow(0 0 14px #00bfff);
}
@keyframes breathe {
  0% {
    opacity: 0.75;
    transform: scale(1);
  }
  50% {
    opacity: 1;
    transform: scale(1.04);
  }
  100% {
    opacity: 0.75;
    transform: scale(1);
  }
}

/* MENU HAMBURGER */
#nbHome .line {
  background: #56adff;
  box-shadow: 0 0 6px #56adff;
}
#nbHome #MenuHamburger.active .line:nth-child(1) {
  transform: translateY(9px) rotate(45deg);
}
#nbHome #MenuHamburger.active .line:nth-child(2) {
  opacity: 0;
  transform: scaleX(0);
}
#nbHome #MenuHamburger.active .line:nth-child(3) {
  transform: translateY(-9px) rotate(-45deg);
}

.theme-light #nbHome2 .line {
  background: #0cbaff;
  box-shadow: 0 0 6px #0cbaff;
}

/* DROPDOWNS */
#nbHome .dropdown-menu {
  background: radial-gradient(circle at top, #00111a, #000);
  border: 2px solid rgba(0, 180, 255, 0.7019607843);
  box-shadow: 0 0 15px rgba(0, 180, 255, 0.7019607843), 0 0 25px rgba(0, 180, 255, 0.4);
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
  animation: fadeSubMenu 0.25s ease forwards;
}
@keyframes fadeSubMenu {
  from {
    opacity: 0;
    transform: translateY(6px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
#nbHome .dropdown-menu .dropdown-item {
  color: #fff;
}
#nbHome .dropdown-menu .dropdown-item:hover {
  background: rgba(144, 240, 247, 0.1019607843) !important;
  transform: translateX(4px);
}
#nbHome .dropdown-menu .dropdown-item svg {
  stroke: #56adff !important;
  text-shadow: 0 0 12px #0cbaff;
}
#nbHome .dropdown-menu .show:hover {
  border-color: #00dcff;
  box-shadow: 0 0 22px rgba(0, 220, 255, 0.6), 0 0 35px rgba(0, 220, 255, 0.6);
}

.theme-light .dropdown-menu {
  border: 1px solid #0cbaff;
  box-shadow: 0 0 20px #0cbaff, 0 0 35px #0cbaff, inset 0 0 10px #0cbaff;
  -webkit-backdrop-filter: blur(6px);
          backdrop-filter: blur(6px);
}

/* SEARCH */
#LI-search .search-input {
  background: #0d1b27;
  border: 1px solid #0aa8ff;
}
#LI-search .search-input::-moz-placeholder {
  color: #9ac5ff;
}
#LI-search .search-input::placeholder {
  color: #9ac5ff;
}
#LI-search .search-input:focus {
  border-color: #21c7ff;
  box-shadow: #00caff;
}
#LI-search .search-btn {
  background: linear-gradient(45deg, #00aaff, #006eff);
}
#LI-search .search-btn svg {
  color: #fff;
}

/* ICONES MENU */
#nbHome #btnSearch svg {
  stroke: #56adff;
  filter: drop-shadow(0 0 10px #56adff);
}
#nbHome #btnSearch svg:hover {
  stroke: #0cbaff;
  filter: drop-shadow(0 0 16px #0cbaff);
  transform: scale(1.04);
}
#nbHome #btnServicos svg {
  stroke: #56adff;
  filter: drop-shadow(0 0 10px #56adff);
}
#nbHome #btnServicos svg:hover {
  stroke: #0cbaff;
  filter: drop-shadow(0 0 16px #0cbaff);
  transform: scale(1.04);
}
#nbHome #btnQmSms svg {
  stroke: #56adff;
  filter: drop-shadow(0 0 10px #56adff);
}
#nbHome #btnQmSms svg:hover {
  stroke: #0cbaff;
  filter: drop-shadow(0 0 16px #0cbaff);
  transform: scale(1.04);
}
#nbHome #btnAjSu svg {
  stroke: #56adff;
  filter: drop-shadow(0 0 10px #56adff);
}
#nbHome #btnAjSu svg:hover {
  stroke: #0cbaff;
  filter: drop-shadow(0 0 16px #0cbaff);
  transform: scale(1.04);
}
#nbHome #btnPortCert svg {
  stroke: #56adff;
  filter: drop-shadow(0 0 10px #56adff);
}
#nbHome #btnPortCert svg:hover {
  stroke: #0cbaff;
  filter: drop-shadow(0 0 16px #0cbaff);
  transform: scale(1.04);
}

.theme-light #btnSearch svg {
  stroke: #00d4ff !important;
  filter: drop-shadow(0 0 10px rgba(0, 220, 255, 0.7019607843)) !important;
  transition: all 0.3s ease, filter 0.4s ease;
}
.theme-light #btnSearch svg:hover {
  stroke: #37e1ff !important;
  filter: drop-shadow(0 0 10px #00f0ff) !important;
  transform: scale(1.04);
}
.theme-light #btnServicos svg {
  stroke: #00d4ff !important;
  filter: drop-shadow(0 0 10px rgba(0, 220, 255, 0.7019607843)) !important;
  transition: all 0.3s ease, filter 0.4s ease;
}
.theme-light #btnServicos svg:hover {
  stroke: #37e1ff !important;
  filter: drop-shadow(0 0 10px #00f0ff) !important;
  transform: scale(1.04);
}
.theme-light #btnQmSms svg {
  stroke: #00d4ff !important;
  filter: drop-shadow(0 0 10px rgba(0, 220, 255, 0.7019607843)) !important;
  transition: all 0.3s ease, filter 0.4s ease;
}
.theme-light #btnQmSms svg:hover {
  stroke: #37e1ff !important;
  filter: drop-shadow(0 0 10px #00f0ff) !important;
  transform: scale(1.04);
}
.theme-light #btnAjSu svg {
  stroke: #00d4ff !important;
  filter: drop-shadow(0 0 10px rgba(0, 220, 255, 0.7019607843)) !important;
  transition: all 0.3s ease, filter 0.4s ease;
}
.theme-light #btnAjSu svg:hover {
  stroke: #37e1ff !important;
  filter: drop-shadow(0 0 10px #00f0ff) !important;
  transform: scale(1.04);
}
.theme-light #btnPortCert svg {
  stroke: #00d4ff !important;
  filter: drop-shadow(0 0 10px rgba(0, 220, 255, 0.7019607843)) !important;
  transition: all 0.3s ease, filter 0.4s ease;
}
.theme-light #btnPortCert svg:hover {
  stroke: #37e1ff !important;
  filter: drop-shadow(0 0 10px #00f0ff) !important;
  transform: scale(1.04);
}

/* SCROLLED */
#nbHome .scrolled {
  background: rgba(0, 0, 0, 0.7490196078) !important;
  box-shadow: 0 6px 30px rgba(0, 0, 0, 0.5490196078);
}

@media (min-width: 375px) and (max-width: 575px) {
  #nbHome #LI-search .dropdown-search-box {
    padding: 12px;
  }
  #nbHome #LI-search .dropdown-search-box .search-input {
    height: 40px;
    font-size: 14px;
  }
  #nbHome #LI-search .dropdown-search-box .search-btn {
    width: 44px;
    height: 40px;
  }
  #nbHome #LI-search .dropdown-search-box .search-btn svg {
    width: 20px;
    height: 20px;
  }
}
@media (min-width: 576px) and (max-width: 992px) {
  #nbHome #LI-search .dropdown-menu {
    min-height: 90px;
    width: 280px;
  }
  #nbHome #LI-search .dropdown-menu .dropdown-search-box {
    padding: 14px;
  }
  #nbHome #LI-search .dropdown-menu .dropdown-search-box .search-input {
    height: 40px;
    font-size: 14px;
  }
  #nbHome #LI-search .dropdown-menu .dropdown-search-box .search-btn {
    width: 48px;
    height: 44px;
  }
  #nbHome #LI-search .dropdown-menu .dropdown-search-box .search-btn svg {
    width: 20px;
    height: 20px;
  }
}
@media (min-width: 993px) and (max-width: 1500px) {
  #nbHome #LI-search .dropdown-menu {
    min-height: 90px;
    width: 520px !important;
  }
  #nbHome #LI-search .dropdown-menu .dropdown-search-box {
    padding: 14px;
  }
  #nbHome #LI-search .dropdown-menu .dropdown-search-box .search-input {
    width: 150px !important;
    height: 40px;
    font-size: 14px;
  }
  #nbHome #LI-search .dropdown-menu .dropdown-search-box .search-btn {
    width: 48px;
    height: 44px;
  }
  #nbHome #LI-search .dropdown-menu .dropdown-search-box .search-btn svg {
    width: 20px;
    height: 20px;
  }
}
@media (min-width: 375px) and (max-width: 575px) {
  #nbHome #nbHome2 {
    display: flex !important;
    flex-direction: row-reverse !important;
    justify-content: space-between !important;
    align-items: center !important;
  }
  #nbHome #nbHome2 #navbarHome, #nbHome #nbHome2 #MenuHamburger {
    margin-left: 30px !important;
  }
  #nbHome #nbHome2 #logoNavbar {
    margin-right: 40px;
  }
  #logoNavbar {
    margin-right: 10px !important;
  }
  #MenuHamburger {
    /* REMOVE ICONE PADRÃO DO BOOTSTRAP */
    padding: 0 !important;
    margin: 0;
    margin-left: 20px;
    width: 38px;
    height: 32px;
    border: none !important;
    outline: none !important;
    box-shadow: none !important;
    background: transparent !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  #MenuHamburger .navbar-toggler-icon {
    display: none !important;
  }
}
/* LOGO */
@media (min-width: 576px) and (max-width: 992px) {
  #MenuHamburger {
    display: none !important;
  }
  #logoNavbar {
    margin-left: 30px;
  }
}
/* LOGO */
@media (min-width: 993px) and (max-width: 1300px) {
  #MenuHamburger {
    display: none !important;
  }
  #logoNavbar {
    margin-left: 50px !important;
  }
}/*# sourceMappingURL=navbarHOME.css.map */