@charset "UTF-8";
/* Animação */
/* Menus */
/* Botões dos Menus */
/* SEARCH  */
/* Botões dos Menus para @each */
/* Submenus */
/* PARA LAYOUT */
/* THEME LIGHT */
/* Cor icones do Menu */
/* Cor dos Icones do Menu - LIGHT */
/* SEARCH */
/* Scrolled */
#nbHome {
  margin-bottom: 30px;
  backdrop-filter: blur(14px);
  -webkit-backdrop-filter: blur(14px);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.4509803922);
  transition: all 0.35s ease;
  background: rgba(0, 0, 0, 0.5490196078) !important;
  border-bottom: 1px solid rgba(255, 255, 255, 0.0784313725);
}

#nbHome2 #logoNavbar {
  width: 70px;
  cursor: pointer;
  transition: 0.3s ease;
}

#nbHome2 .dropdown-search-box {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 16px;
  gap: 0;
}
#nbHome2 .search-input {
  flex: 1;
  height: 40px;
  border-radius: 10px 0 0 10px;
}
#nbHome2 .search-btn {
  border: none;
  width: 50px;
  height: 44px;
  border-radius: 0 10px 10px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.25s ease;
}
#nbHome2 .search-btn svg {
  width: 22px;
  height: 22px;
}

#btnSearch svg {
  width: 18px;
  height: 18px;
}

#btnServicos svg {
  width: 18px;
  height: 18px;
}

#btnQmSms svg {
  width: 18px;
  height: 18px;
}

#btnAjSu svg {
  width: 18px;
  height: 18px;
}

#btnPortCert svg {
  width: 18px;
  height: 18px;
}

/* SEARCH */
/* ICONES DO MENU */
/* SCROLLED */
/* SEARCH */
#LI-search .search-input {
  background: #0d1b27;
  border: 1px solid #0aa8ff;
}
#LI-search .search-input::-moz-placeholder {
  color: #9ac5ff;
}
#LI-search .search-input::placeholder {
  color: #9ac5ff;
}
#LI-search .search-input:focus {
  border-color: #21c7ff;
  box-shadow: #00caff;
}
#LI-search .search-btn {
  background: linear-gradient(45deg, #00aaff, #006eff);
}
#LI-search .search-btn svg {
  color: #fff;
}

/* ICONES MENU */
#nbHome #btnSearch svg {
  stroke: #56adff;
  filter: drop-shadow(0 0 10px #56adff);
}
#nbHome #btnSearch svg:hover {
  stroke: #0cbaff;
  filter: drop-shadow(0 0 16px #0cbaff);
  transform: scale(1.04);
}
#nbHome #btnServicos svg {
  stroke: #56adff;
  filter: drop-shadow(0 0 10px #56adff);
}
#nbHome #btnServicos svg:hover {
  stroke: #0cbaff;
  filter: drop-shadow(0 0 16px #0cbaff);
  transform: scale(1.04);
}
#nbHome #btnQmSms svg {
  stroke: #56adff;
  filter: drop-shadow(0 0 10px #56adff);
}
#nbHome #btnQmSms svg:hover {
  stroke: #0cbaff;
  filter: drop-shadow(0 0 16px #0cbaff);
  transform: scale(1.04);
}
#nbHome #btnAjSu svg {
  stroke: #56adff;
  filter: drop-shadow(0 0 10px #56adff);
}
#nbHome #btnAjSu svg:hover {
  stroke: #0cbaff;
  filter: drop-shadow(0 0 16px #0cbaff);
  transform: scale(1.04);
}
#nbHome #btnPortCert svg {
  stroke: #56adff;
  filter: drop-shadow(0 0 10px #56adff);
}
#nbHome #btnPortCert svg:hover {
  stroke: #0cbaff;
  filter: drop-shadow(0 0 16px #0cbaff);
  transform: scale(1.04);
}

.theme-light #btnSearch svg {
  stroke: #00d4ff !important;
  filter: drop-shadow(0 0 10px rgba(0, 220, 255, 0.7019607843)) !important;
  transition: all 0.3s ease, filter 0.4s ease;
}
.theme-light #btnSearch svg:hover {
  stroke: #37e1ff !important;
  filter: drop-shadow(0 0 10px #00f0ff) !important;
  transform: scale(1.04);
}
.theme-light #btnServicos svg {
  stroke: #00d4ff !important;
  filter: drop-shadow(0 0 10px rgba(0, 220, 255, 0.7019607843)) !important;
  transition: all 0.3s ease, filter 0.4s ease;
}
.theme-light #btnServicos svg:hover {
  stroke: #37e1ff !important;
  filter: drop-shadow(0 0 10px #00f0ff) !important;
  transform: scale(1.04);
}
.theme-light #btnQmSms svg {
  stroke: #00d4ff !important;
  filter: drop-shadow(0 0 10px rgba(0, 220, 255, 0.7019607843)) !important;
  transition: all 0.3s ease, filter 0.4s ease;
}
.theme-light #btnQmSms svg:hover {
  stroke: #37e1ff !important;
  filter: drop-shadow(0 0 10px #00f0ff) !important;
  transform: scale(1.04);
}
.theme-light #btnAjSu svg {
  stroke: #00d4ff !important;
  filter: drop-shadow(0 0 10px rgba(0, 220, 255, 0.7019607843)) !important;
  transition: all 0.3s ease, filter 0.4s ease;
}
.theme-light #btnAjSu svg:hover {
  stroke: #37e1ff !important;
  filter: drop-shadow(0 0 10px #00f0ff) !important;
  transform: scale(1.04);
}
.theme-light #btnPortCert svg {
  stroke: #00d4ff !important;
  filter: drop-shadow(0 0 10px rgba(0, 220, 255, 0.7019607843)) !important;
  transition: all 0.3s ease, filter 0.4s ease;
}
.theme-light #btnPortCert svg:hover {
  stroke: #37e1ff !important;
  filter: drop-shadow(0 0 10px #00f0ff) !important;
  transform: scale(1.04);
}

/* SCROLLED */
#nbHome .scrolled {
  background: rgba(0, 0, 0, 0.7490196078) !important;
  box-shadow: 0 6px 30px rgba(0, 0, 0, 0.5490196078);
}

@media (min-width: 375px) and (max-width: 575px) {
  #nbHome #nbHome2 {
    display: flex !important;
    flex-direction: row-reverse !important;
    justify-content: space-between !important;
    align-items: center !important;
  }
  #nbHome #nbHome2 #navbarHome, #nbHome #nbHome2 #MenuHamburger {
    margin-left: 30px !important;
  }
  #nbHome #nbHome2 #logoNavbar {
    margin-right: 40px;
  }
}/*# sourceMappingURL=navbarHOME.css.map */