@mixin Glow-Animation($cor){
    filter:
    drop-shadow(0 0 4px rgba($cor, 1))
    drop-shadow(0 0 8px rgba($cor, 0.9))
    drop-shadow(0 0 12px rgba($cor, 0.85))
    drop-shadow(0 0 4px rgba($cor, 0.80));
}

@mixin Float-Glow($cor){
    animation:
        float 3.2s ease-in-out infinite,
        glow-pulse 2.8s ease-in-out infinite;
    filter: 
        drop-shadow(0 0 6px $cor)
        drop-shadow(0 0 10px $cor);
    @keyframes float {
        0% { transform: translateY(0);}
        50%{transform: translateY(-8px);}
        100%{transform: translateY(0);}
    }

    @keyframes glow-pulse {
        0%{
            filter: drop-shadow(0 0 4px currentColor);
            opacity: 0.8;
        }
        50%{
            filter: drop-shadow(0 0 12px currentColor);
            opacity: 1;
        }
        100%{
            filter: drop-shadow(0 0 4px currentColor);
            opacity: 0.8;
        }
    }
}

@mixin Text-Glow($cor){
    animation: textPulse 2.6s ease-in-out infinite;
    text-shadow:
        0 0 6px rgba($cor, .55)
        0 0 12px rgba($cor, .35)
        0 0 18px rgba($cor, .25);
    @keyframes textPulse {
        0%{
            text-shadow:
                0 0 4px currentColor,
                0 0 10px currentColor,
                0 0 14px rgba(255,255, 255, .2);
        }
        50%{
            text-shadow:
                0 0 10px currentColor,
                0 0 16px currentColor,
                0 0 22px rgba(255,255, 255, .35);
        }
        100%{
            text-shadow:
                0 0 4px currentColor,
                0 0 10px currentColor,
                0 0 14px rgba(255,255, 255, .2);
        }
    }
}