$C-C-HOME1: '.CarrosselHome';
$C-C-HOME2: '#carouselHome';

$INDICADORES: '.carousel-indicators';

$CLASS-ACTIVE: '.active';

$IMG-FUNDO: '#IMGFUNDO';

$CARR-INNER: ".carousel-inner";
$CARR-CAPTION: '.carousel-caption';
$CAPT-ICON: '.icone-slide';
$CAPT-TITLE: '.Title';
$CAPT-DESCRI: '.Descricao';
$CAPT-BTN: '.botao-saiba-mais';

$CRRSL-BTN-PREV: '.carousel-control-prev';
$CRRSL-BTN-NEXT: '.carousel-control-next';
$CTRL-PREV-I: '.icon-prev';
$CTRL-NEXT-I: '.icon-next';

$THEME-LIGHT: '.theme-light';
$THEME-DARK: '.theme-dark';

$TEMA-CLIMATIZACAO: '.tema-climatizacao';
$TEMA-ELETRICA: '.tema-eletrica';
$TEMA-ELETRONICA: '.tema-eletronica';
$TEMA-REFRIGERACAO: '.tema-refrigeracao';