/* VARS E CORES - dentro do arquivo Globals */
@use "./globals" as *;

/* CONFIGURAÇÕES GERAIS DO CARROSSEL */
@use "./conf-geral-carrosselHome.scss";

/* TEMAS */
@use "./themes-CarrosselHome.scss";

/* MOBILES */
@use "./carrossel-Home-mobile.scss";

/* TABLETS */
@use "./carrossel-Home-tablets.scss";

/* DESKTOPS */
@use "./carrossel-Home-desktops.scss";