@use "./globals" as *;
@use "./colors" as *;

@mixin CONTAINER-CARROSSEL(){
  #{$C-C-HOME1}{
    position: relative;
    width: 100%;
    padding: 1rem 0;

    #{$CARR-INNER}{
      border-radius: 18px;
      overflow: hidden;
      position: relative;
    }
  }
}
@include CONTAINER-CARROSSEL();


@mixin IMAGEM-FUNDO(){
  #{$IMG-FUNDO}{
    width: 100%;
    height: 320px;
    object-fit: cover;
    filter: brightness(0.20);
  }
}
@include IMAGEM-FUNDO();

@mixin CONTEUDO-SLIDE(){
  #{$C-C-HOME1} #{$CARR-CAPTION}{
    z-index: 3;
    text-align: center;
    padding: 0 1rem;
  }
  #{$C-C-HOME1}{
    #{$CAPT-ICON}{
      width: 35px;
      height: 35px;
      margin-bottom: 12px;
      color: var(--tema-cor);
    }
    #{$CAPT-TITLE}{
        font-size: 2.2rem;
        font-weight: 700;
        margin-bottom: 10px;
        color: $COR-WHITE;
    }
    #{$CAPT-DESCRI}{
        width: 100%;
        margin: 0.25rem auto 1rem auto;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.45;
        color: #eaeaea;
        opacity: .95;
    }
    #{$CAPT-BTN}{
      padding: 10px 28px;
      border-radius: 12px;
      border: none;
      font-weight: 600;
      font-size: 1.05rem;
      transition: all .25s ease;
      color: $COR-WHITE;
      cursor: pointer;
    }
  }
}
@include CONTEUDO-SLIDE();

@mixin INDICATORS(){
  #{$C-C-HOME1} #{$INDICADORES} [data-bs-target]{
    cursor: pointer;
    width: 10px;
    height: 10px;
    background-color: rgba(255,255,255,.4);
    border-radius: 50%;
    border: none;
    transition: all .25s ease;
  }
  #{$C-C-HOME1} #{$INDICADORES} #{$CLASS-ACTIVE}{
    width: 12px;
    height: 12px;
    background-color: #fff;
    box-shadow: 0 0 8px #fff;
  }
}
@include INDICATORS();


@mixin PREV-NEXT(){
  #{$C-C-HOME1}{
    #{$CRRSL-BTN-PREV} #{$CRRSL-BTN-NEXT}{
      background: none !important;
      width: 50px;
      transition: opacity 0.3s ease;
      &:focus{
        box-shadow: none !important;
      }
    }
  }
}
@include PREV-NEXT();