@use "./globals" as *;

/* === CORES POR TEMA === */
$temas: (
  climatizacao: $COR-CLIM,
  eletrica: $COR-ELETRIC,
  eletronica: $COR-ELETRONICA,
  refrigeracao: $COR-REFRI
);

/* === MIXIN DO GLOW INTENSO APENAS NO ÍCONE === */
@mixin glow-icon($cor) {
  filter:
    drop-shadow(0 0 4px rgba($cor, 1))
    drop-shadow(0 0 8px rgba($cor, 0.9))
    drop-shadow(0 0 12px rgba($cor, 0.85))
    drop-shadow(0 0 18px rgba($cor, 0.80));
}

/* === APLICA AO ÍCONE PREV/NEXT DE ACORDO COM O TEMA === */
@each $tema, $cor in $temas {
  #carouselHome[data-tema="#{$tema}"] {

    .icon-prev,
    .icon-next {
      stroke: rgba($cor, 1); /* cor da seta */
      @include glow-icon($cor); /* glow intenso */
    }
  }
}