@use "./globals" as *;
@use "./mixins-animations" as *;

/* COLORS POR TEMAS */
$temas: (
  climatizacao: $COR-CLIM,
  eletrica: $COR-ELETRIC,
  eletronica: $COR-ELETRONICA,
  refrigeracao: $COR-REFRI
);

/* ICONES - PREV E NEXT (proximo e anterior) */
@each $tema, $cor in $temas {
  #carouselHome[data-tema="#{$tema}"] {

    #{$CTRL-PREV-I}, #{$CTRL-NEXT-I}{
      stroke: rgba($cor, 1);
      @include Glow-Animation($cor);
    }
  }
}

/* ICONES SLIDE - (icones que estão encima do titulo) */
@each $tema, $cor in $temas{
  #{$C-C-HOME2}[data-tema="#{$tema}"] {
    #{$CAPT-ICON}{
      color: #{$cor};
      @include Float-Glow($cor);
    }
  }
}

/* TITULOS */
@each $tema, $cor in $temas{
  #{$C-C-HOME2}[data-tema="#{$tema}"]{
    #{$CAPT-TITLE}{
      color: #{$cor};
      @include Text-Glow($cor);
    }
  }
}

/* BOTOES - (explorar e saiba mais) */
@each $tema, $cor in $temas {
  #{$C-C-HOME2}[data-tema="#{$tema}"]{
    #{$CAPT-BTN}{
      background-color: rgba($cor, .32);
      border: 1px solid rgba($cor, .55);
      color: $COR-WHITE;
      @include Botao-Pulse($cor);
    }
  }
}

/* INDICADORES - (bolinhas em embaixo do button explorar ou saiba mais) */
@each $tema, $cor in $temas {
  #{$C-C-HOME2}[data-tema="#{$tema}"]{
    #{$INDICADORES} button{
      background-color: rgba($cor, .28);
      border: 1px solid rgba($cor, .45);
      @include Glow-Animation-Suave($cor);
      transition: all 0.4s ease;
    }
    #{$INDICADORES} button#{$CLASS-ACTIVE}{
      background-color: $cor;
      border-color: $cor;
      @include Glow-Animation-S-Active($cor);
    }
  }
}