$C-C-HOME1: '.CarrosselHome';
$C-C-HOME2: '#carouselHome';

$INDICADORES: '.carousel-indicators';

$IMG-FUNDO: '#IMGFUNDO';

$CARR-CAPTION: '.carousel-caption';
$CAPT-ICON: '.icone-slide';
$CAPT-TITLE: '.Title';
$CAPT-DESCRI: '.Descricao';
$CAPT-BTN: '.botao-saiba-mais';

$CRRSL-BTN-PREV: '.carousel-control-prev';
$CRRSL-BTN-NEXT: '.carousel-control-next';
$CTRL-PREV-I: '.carousel-control-prev-icon';
$CTRL-NEXT-I: '.carousel-control-next-icon';