@use "./globals-lojaSEF" as *;

@mixin Layout-Loja-SEF(){
    /* ========= CONTAINER PRINCIPAL DO CARD ========= */
    #{$c-Loja} {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        position: relative !important; 
        width: 100%;
        overflow: hidden;
    }

    /* ========= ÁREA SUPERIOR (onde fica o ícone + curva) ========= */
    #{$lj-top} {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        position: relative !important;
    }

    /* Ícone do topo */
    #{$lj-top-icon} {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    /* Curva */
    #{$lj-curve} {
        position: absolute !important;
        top: 0;
        left: 50%;
        pointer-events: none;
    }

    /* ========= ÁREA DE TEXTO ========= */
    #{$lj-title},
    #{$lj-descri} {
        text-align: center;
        display: block;
    }

    /* ========= BOTÃO ========= */
    #{$lj-btn} {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
    }
}
@include Layout-Loja-SEF();