@use "./globals-lojaSEF" as *;

@mixin LojaSEF-tablets-756PX() {
    #{$c-Loja} {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        width: 92%;
        padding: 2rem 1.2rem;
        gap: 1.5rem;

        #{$lj-top} {
            flex: 1;

            #{$lj-top-icon} svg {
                width: 80px;
                height: 80px;
            }

            #{$lj-curve} {
                width: 200%;
                height: 600% !important;
                top: -250%;
                left: -0.5%;
                z-index: 0;
            }
        }

        #{$lj-body} {
            flex: 1.2;
            text-align: left;
            align-items: flex-start;
            z-index: 10;

            #{$lj-title} {
                font-size: 1.25rem;
                margin-bottom: 0.8rem;
            }

            #{$lj-descri} {
                font-size: 0.9rem;
                line-height: 1.35;
                max-width: 270px;
                margin: 0 0 1.2rem 0; /* agora alinhado à esquerda */
            }

            #{$lj-btn} {
                font-size: 0.9rem;
                padding: 0.75rem 1.4rem;
                border-radius: 10px;
                gap: 0.4rem;

                svg {
                    width: 17px;
                    height: 17px;
                }
            }
        }
    }
}

@media (min-width: 576px) and (max-width: 756px) {
    @include LojaSEF-tablets-756PX();
}

/* Próximo max-width → 991px */