$c-Loja1: '#LojaSefHome';
$c-Loja2: '.container-loja';

$lj-txt: '.loja-text';
$lj-title: '.loja-title';
$lj-descri: '.loja-descricao';
$lj-btn: '.btn-loja';

$lj-media: '.loja-media';
$lj-card: '.loja-card';
$lj-img: '#img-loja';