@mixin mobile-Carrossel(
  $carrossel,
  $inner,
  $bg,
  $overlay,
  $caption,
  $icon,
  $btn,
  $indicators,
  $prev,
  $next,
  $arrow
) {
  #{$carrossel}{
    /* Imagem de Fundo */
    #IMGFUNDO{
      width: 90%;
      border-radius: 15px;
      margin: 0 auto;
      filter: brightness(0.45);
    }
  }

}

@media (max-width: 575px) {
  @include mobile-Carrossel(
    ".CarrosselHome",
    ".carousel-inner",
    ".carousel-bg",
    ".overlay-gradient",
    ".custom-caption",
    ".icone-slide",
    ".btn-explorar",
    ".carousel-indicators",
    ".carousel-control-prev",
    ".carousel-control-next",
    ".custom-arrow"
  );
}