@media (max-width: 575px) {
  .CarrosselHome {
    padding-right: 1rem !important;
    padding-left: 1rem !important;
  }
  #IMGFUNDO {
    width: 90%;
    margin: 0 auto;
  }
  .carousel-caption .icone-slide {
    width: 40px !important;
    height: 40px !important;
    stroke-width: 1.7;
  }
  .carousel-caption .botao-saiba-mais {
    margin-top: 0.5rem;
    padding-top: 0.5rem !important;
    padding-bottom: 0.5rem !important;
    padding-right: 1.5rem !important;
    padding-left: 1.5rem !important;
    padding: 8px 22px;
    transition: 0.25s ease;
    font-weight: 600;
    font-size: 1rem;
  }
  .CarrosselHome #IMGFUNDO {
    border-radius: 15px;
    filter: brightness(0.25);
  }
  .CarrosselHome .carousel-inner .tema-climatizacao .icone-slide {
    stroke: #3a89ff !important;
    animation: float 3s ease-in-out infinite, glow 2.4s infinite ease-in-out;
    --glow-color: #3a89ff;
  }
  @keyframes float {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-6px);
    }
  }
  @keyframes glow {
    0%, 100% {
      filter: drop-shadow(0 0 4px var(--glow-color));
    }
    50% {
      filter: drop-shadow(0 0 12px var(--glow-color));
    }
  }
  .CarrosselHome .carousel-inner .tema-climatizacao .Title {
    color: #3a89ff;
    text-shadow: 0 0 10px #3a89ff;
  }
  .CarrosselHome .carousel-inner .tema-climatizacao .Descricao {
    font-size: 1rem;
    width: 80%;
    margin: 8px auto 0 auto;
    line-height: 1.4;
    color: #f0f0f0;
    opacity: 0.85;
    text-shadow: 0 0 6px rgba(255, 255, 255, 0.9019607843);
  }
  .CarrosselHome .carousel-inner .tema-climatizacao .botao-saiba-mais {
    --bg: rgba(33, 122, 255, 0.1490196078);
    --bord: #217aff;
    --bx-shadow: #217aff;
    --hv-bg: rgba(33, 122, 255, 0.25);
    --hv-bx-shadow: #217aff;
    background: var(--bg);
    border: 1px solid var(--bord);
    box-shadow: 0 0 8px var(--bx-shadow);
    color: #fff;
  }
  .CarrosselHome .carousel-inner .tema-climatizacao .botao-saiba-mais:hover {
    background: var(--hv-bg);
    box-shadow: 0 0 14px var(--hv-bx-shadow);
  }
  .CarrosselHome .carousel-inner .tema-eletrica .icone-slide {
    stroke: #ffe603 !important;
    animation: float 3s ease-in-out infinite, glow 2.4s infinite ease-in-out;
    --glow-color: #ffe603;
  }
  @keyframes float {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-6px);
    }
  }
  @keyframes glow {
    0%, 100% {
      filter: drop-shadow(0 0 4px var(--glow-color));
    }
    50% {
      filter: drop-shadow(0 0 12px var(--glow-color));
    }
  }
  .CarrosselHome .carousel-inner .tema-eletrica .Title {
    color: #ffe603;
    text-shadow: 0 0 10px #ffe603;
  }
  .CarrosselHome .carousel-inner .tema-eletrica .Descricao {
    font-size: 1rem;
    width: 80%;
    margin: 8px auto 0 auto;
    line-height: 1.4;
    color: #f0f0f0;
    opacity: 0.85;
    text-shadow: 0 0 6px rgba(255, 255, 255, 0.9019607843);
  }
  .CarrosselHome .carousel-inner .tema-eletronica .icone-slide {
    stroke: #08a115;
    animation: float 3s ease-in-out infinite, glow 2.4s infinite ease-in-out;
    --glow-color: #08a115;
  }
  @keyframes float {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-6px);
    }
  }
  @keyframes glow {
    0%, 100% {
      filter: drop-shadow(0 0 4px var(--glow-color));
    }
    50% {
      filter: drop-shadow(0 0 12px var(--glow-color));
    }
  }
  .CarrosselHome .carousel-inner .tema-eletronica .Title {
    color: #08a115;
    text-shadow: 0 0 10px #08a115;
  }
  .CarrosselHome .carousel-inner .tema-eletronica .Descricao {
    font-size: 1rem;
    width: 80%;
    margin: 8px auto 0 auto;
    line-height: 1.4;
    color: #f0f0f0;
    opacity: 0.85;
    text-shadow: 0 0 6px rgba(255, 255, 255, 0.9019607843);
  }
  .CarrosselHome .carousel-inner .tema-refrigeracao .icone-slide {
    stroke: #04e2ff;
    animation: float 3s ease-in-out infinite, glow 2.4s infinite ease-in-out;
    --glow-color: #04e2ff;
  }
  @keyframes float {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-6px);
    }
  }
  @keyframes glow {
    0%, 100% {
      filter: drop-shadow(0 0 4px var(--glow-color));
    }
    50% {
      filter: drop-shadow(0 0 12px var(--glow-color));
    }
  }
  .CarrosselHome .carousel-inner .tema-refrigeracao .Title {
    color: #04e2ff;
    text-shadow: 0 0 10px #04e2ff;
  }
  .CarrosselHome .carousel-inner .tema-refrigeracao .Descricao {
    font-size: 1rem;
    width: 80%;
    margin: 8px auto 0 auto;
    line-height: 1.4;
    color: #f0f0f0;
    opacity: 0.85;
    text-shadow: 0 0 6px rgba(255, 255, 255, 0.9019607843);
  }
}/*# sourceMappingURL=CarrosselHome.css.map */